<%= f.error_messages %>
<p class="req"><span class="pnt">※</span>は必須入力です</p>
<table class="data" cellspacing="1" cellpadding="0">
  <tr>
    <th>日付 <span class="pnt">※</span></th>
    <td>
      <%= confirm_tag :calendar_date_select,
                      :new_information,:date,
                      {:start_year => 5.years.ago.year,
                      :end_year => Date.today.year,
                      :use_month_numbers => true} %>
    </td>
  </tr>
  <tr>
    <th>タイトル <span class="pnt">※</span></th>
    <td>
      <%= confirm_tag :text_field, :new_information, :name, :size=>50, :class=>"data_l" %><br/>
      <font color="red">(上限200文字)</font>
    </td>
  </tr>
  <tr>
    <th>URL</th>
    <td>
      <%= confirm_tag :text_field, :new_information, :url, :size=>50, :class=>"data_l" %><br/>
      <font color="red">（上限300文字）</font>
    </td>
  </tr>
  <tr>
    <th>リンク</th>
    <% flg = (params[:action] =~ /confirm/  || params[:action] =~ /create/ || params[:action] =~ /update/) && @new_information.errors.empty? %>
    <% if !flg %>
      <td><%= f.check_box :new_window %>別ウィンドウで開く</td>
    <% else %>
      <td><%= new_window(@new_information.new_window) %></td>
    <% end %>
  </tr>
  <tr>
    <th>本文作成</th>
    <td>
      <%= confirm_tag :text_area, :new_information, :body, :rows=>"6", :cols=>50, :class=>"data_l" %><br />
      <font color="red">（上限300文字）</font>
    </td>
  </tr>
</table>
