<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->


<h2>新着情報　登録</h2>
<% form_for :new_information do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>


<div class="btn_box">
    <% form_for [:admin, @new_information] do |f| %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :url %>
    <%= f.hidden_field :new_window %>
    <%= f.hidden_field :body %>
    <%= f.hidden_field :id %>
    
    <%= f.submit "この内容で登録する", :class=>"btn" %>
    <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  <% end %>
  <% form_for [:admin, @new_information], :url => {:action => (params[:id].blank? ? "new" : "edit")}, :html => {:method => "post"} do |f| %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :url %>
    <%= f.hidden_field :new_window %>
    <%= f.hidden_field :body %>
    <%= f.hidden_field :id %>
    
      <%= f.submit "戻る", :class=>"btn" %>
      <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  <% end %>
</div>

</div><!-- /メイン -->
