<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->
  
  <h2>プラグイン設定</h2>
  
  <h3>支払いプラグイン新規作成</h3>
  <br />
  <% form_for :payment_plugin do |f| %>
    <%= render :partial => "form_payment_plugin", :locals => {:f => f} %>
  <% end %>

  <div class="btn_box">
    <% form_for [:admin, @payment_plugin], :url => {:action => (params[:id].blank? ? "create_payment_plugin" : "update_payment_plugin")}, :html => {:method => "post"} do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :model_name %>
      <%= f.hidden_field :detail %>
      <%= f.hidden_field :enable %>
      <%= f.hidden_field :id %>
      
      <%= f.submit "この内容で登録する", :class=>"btn" %>
      <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
    <% end %>
    <% form_for [:admin, @payment_plugin], :url => {:action => (params[:id].blank? ? "new_payment_plugin" : "edit_payment_plugin")}, :html => {:method => "post"} do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :model_name %>
      <%= f.hidden_field :detail %>
      <%= f.hidden_field :enable %>
      <%= f.hidden_field :id %>

      <%= f.submit "戻る", :class=>"btn" %>
      <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>

    <% end %>

  </div>


</div>
