<%= stylesheet_link_tag "admin" %>

<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>特集管理</h2>
<%= flash[:notice] %>
<%= flash[:error] %>
<%= error_messages_for :feature %>

<h3>特集確認（<%=h Feature::TYPE_LIST[@feature.feature_type]%>）</h3>
<%= render :partial => "form" %>

<div class="btn_box">
<% @confirm_hidden_field = "" %>
<% form_for([:admin, @feature],:url=>{:action => ( params[:id] ? "update" : "create" ), :id => params[:id]}, :html=>{:method => ( params[:id] ? "put" : "post" )}) do%>
  <% @feature.attribute_names.each do | column | %>
    <%= hidden_field "feature", column.to_s %>
  <% end %>

  <%= hidden_field_tag "id", params[:id] %>
  <%= @confirm_hidden_field %>
  <%= submit_tag 'この内容で登録する', :class => "btn"%>
  <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
<% end %>

<% form_for([:admin, @feature],:url=>{:action => ( params[:id] ? "edit" : "new" ), :id => params[:id]}, :html=>{:method => "get"}) do%>
  <% @feature.attribute_names.each do | column | %>
    <%= hidden_field "feature", column.to_s %>
  <% end %>
  <%= hidden_field_tag "id", params[:id] %>
  <%= @confirm_hidden_field %>
  <%= submit_tag '戻る', :class => "btn"%>
  <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
<% end %>
</div>
</div><!-- /メイン -->
