<div id="cart">
  <table class="tb1">
  <tr>
    <th class="select">選択</th><th class="kind">住所種類</th><th class="destination">お届け先</th><th class="edit">変更</th><th class="del">削除</th>
  </tr>
  <%- @addresses.each do |address| %>
    <tr>
      <td class="cntr"><%= address_button(address) %></td>
      <td><%= address_type_to_s(address) %></td>
      <td><%= address_detail(address) %></td>
      <td class="cntr"><%= link_to_edit_address(address) %></td>
      <td class="cntr"><%= link_to_delete_address(address) %></td>
    </tr>
  <%- end -%>
  </table>
</div><!-- /cart -->