<% @carts.each_with_index do |cart, i| %>
	<div class="cartItem">
		<div class="productImage">
			<%= link_to( "<span class='link'></span>", {:controller => "/products", :action => "show", :id => (cart.ps.product.id),:category_id => cart.ps.product.category_id}) %>
			<%= product_image_tag(cart.ps.product, :small ,{:width=>"70",:height=>"70",:align=>"left",:style=>"vertical-align:middle; float:left; margin:4px;"}) %>
		</div>
		<div class="productDetails">
			<%= h(cart.product_name) %> <br />
			<%= h(cart.classcategory_name1) %> <br />
			<%= h(cart.classcategory_name2) %>
		
			<%- unless cart.ps.product.master_shop? %>
			<br />販売元: <%= show_retailer_shop(cart.ps.product) %>
			<% end %>
		</div>
		
		<div class="productQuantity">
			単価: &yen;<%= h(number_with_delimiter(cart.price)) %> <br />
			数量: <%= h(cart.quantity) %>個<br />
		</div>
		
		
		<% if details %>
			<div class="productSubtotal">
				小計 <span class="highlightYen"><%= number_with_delimiter cart.subtotal %></span>円
			</div>
		<% end %>
		
		<% if buttons %>
			<div class="productButtons">
				<%= incriment_tag(cart) %>
				<%= decriment_tag(cart) %>
				<%= link_to '削除',
				  {:controller => 'cart', :action => 'delete', :id => cart.product_order_unit_id},
				  {:class => 'rosy small_button', :confirm=>'本当に削除しますか？'}
				 %>
			</div>
		<% else %>
			<br clear="all" />
		<% end %>
	</div>
   <% end %>
