<div>
  <% carts.each do |cart| %>
    <%= cart.product_style.product.name %><br />
  <% end %>
  
  <table>
    <tr>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td>test</td>
      <td>
        <%= radio_button_tag "points[#{retailer_id}][point_check]", 'true' %>
        <label for="points[<%=h retailer_id %>][point_check]_true">ポイントを使用する</label>
        <%= text_field_tag "order_deliveries[#{retailer_id}][use_point]" %>ポイント
      </td>
      <td>
        <%= radio_button_tag "points[#{retailer_id}][point_check]_false", 'false' %>
        <label for="points[<%=h retailer_id %>][point_check]_false">ポイントを使用しない</label>
      </td>
    </tr>
  </table>
</div>
