<% form_for :order_delivery, :url => {:action => :purchase} do |f| %>
  <span style="color:#FF9775;">■</span> 発送時間選択<br />
  <% @delivery_time_options.each do |retailer_id, options| %>
  <p>配達時間をお選びください</p>
  <select id="delivery_time_<%= retailer_id %>" name="order_deliveries[<%= retailer_id %>][delivery_time_id]">
    <% options.each do |option| %>
      <option value="<%= option[1] %>"><%= option[0] %></option>
    <% end %>
  </select>
  <% end %>
  <div style="text-align:center;">
    <%= render :partial => "order_deliveries" %>
    <%= submit_tag '次へ' -%>
  </div> 
<% end %>

<% form_tag :action => :delivery do %>
  <%= render :partial => "order_deliveries" %>
  <%=hidden_field_tag "back","1" %>
  <div style="text-align:center;">
    <%= submit_tag '戻る' %>
  </div>
<% end %>

