<%= render :partial => "base/title", :locals => {:title => "配達時間指定"} %>

  <%= @order_delivery && error_messages_for(:order_delivery) %>
  <% form_for :order_delivery, :url =>{:action => 'confirm'} do | f | %>

    ご希望の方は、お届け時間を選択してください。<br /><br />
    <span style="color:#FF9775;">■</span> お届け時間帯<br />
   <%= f.select :delivery_time_id,@options %><br /><br />
	 <div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "5" %><br /></div>
   <div style="text-align:center;">
    <%= render :partial=>'order_delivery_hiddens' %>
	<% if @login_customer && @order_delivery.use_point && @order_delivery.use_point > 0%>
	<%=hidden_field_tag "point_check","true"%>
	<% end %>
	<%=hidden_field :order_delivery,:payment_id%>
    <%=hidden_field :order_delivery,:use_point %>
    <%= submit_tag '次へ' %><br />
   </div>
  <% end %>
   <div style="text-align:center;">
  <% form_for :order_delivery, :url =>{:action => 'purchase'} do | f | %>
    <%= render :partial=>'order_delivery_hiddens' %>
	<% if @login_customer && @order_delivery.use_point && @order_delivery.use_point > 0%>
	<%=hidden_field_tag "point_check","true"%>
	<% end %>
	<%=hidden_field :order_delivery,:payment_id%>
    <%=hidden_field :order_delivery,:use_point %>
	<%=hidden_field_tag "back","1"%>
    <%= submit_tag '戻る'%>
  <% end %>
   </div>

   
   
   
   
   