<%= render :partial => "base/title", :locals => {:title => "お支払い方法の指定"} %>

<span style="color:#ff0000;"><%= flash[:notice] %></span>
<span style="color:#ff0000;"><%= flash[:error] %></span>
<%= @order_delivery && error_messages_for(:order_delivery) %>
<% form_for :order_delivery, :url => {:action => :confirm}, :html => {:name => 'form1'} do | f | %>
  <span style="color:#FF9775;">■</span> お支払い方法<br />
  <% Payment::find_for_price(@cart_price).each do |payment| %>
    <% if payment.get_plugin_instance.use_mobile? %>
      <%= f.radio_button :payment_id, payment.id %>
      <%= payment.name unless logo_without_text(payment) %>
      <br />
      <% options = {:width => 200, :height => 120} %>
      <%#= view_resource_mobile(payment.resource, options) %>
      <%= payment_image_tag(payment, options) %>
      <br />
    <% end %>
  <% end %>
  <% if @login_customer %>
    <span style="color:#FF9775;">■</span> ポイント使用の指定<br />
    <p>
      1ポイントを1円として使用する事ができます。ポイントは販売店ごとに設定できます。
    </p>
    <p>
      使用する場合は、「ポイントを使用する」にチェックを入れた後、使用するポイントをご記入ください。
    </p>
    <p>
      <%=h @login_customer.family_name %><%=h @login_customer.first_name %>様の、
      現在の所持ポイントは「
      <%= @login_customer.point.to_i %>Pt」です。
    </p>
    <% @carts_map.each do |retailer_id, cart_array| %>
      <%= render :partial => "set_point_each_retailer_mobile", :locals => {:carts => cart_array, :retailer_id => retailer_id, :f => f} %>
    <% end %>
  <% end %>


  <div style="text-align:center;">
    <%- @order_deliveries.each do |key, order_delivery| -%>
      <%- order_delivery.attribute_names.each do |column| %>
        <%- unless order_delivery[column].blank? or column == "use_point" or column == "payment_id" %>
          <%= hidden_field_tag "order_deliveries[#{key}][#{column}]", order_delivery[column] %>
        <%- end %>
      <%- end %>
    <%- end -%>
    <% if @not_login_customer%>
    <%=hidden_field_tag "temporary_customer_flag","1"%>
      <% if !params[:address_enable].nil?%>
        <%=hidden_field_tag "address_enable","1"%>
      <% end%>  
    <% end%>
    <%= submit_tag '次へ' -%>
  </div>
<% end %>

<% form_tag :action => :delivery2 do %>
    <%- @order_deliveries.each do |key, order_delivery| -%>
      <%- order_delivery.attribute_names.each do |column| %>
        <%- unless order_delivery[column].blank? or column == "use_point" or column == "payment_id" %>
          <%= hidden_field_tag "order_deliveries[#{key}][#{column}]", order_delivery[column] %>
        <%- end %>
      <%- end %>
    <%- end -%>
  <%=hidden_field_tag "back","1" %>
  <% if @not_login_customer%>
  <%=hidden_field_tag "temporary_customer_flag","1"%>
    <% if !params[:address_enable].nil?%>
      <%=hidden_field_tag "address_enable","1"%>
    <% end%>  
  <% end%>
  <div style="text-align:center;">
    <%= submit_tag '戻る' %>
  </div>
<% end %>

<% if false %>
<% form_for :order_delivery, :url =>{:action => 'purchase2'}, :html => {:name=>'form1'} do | f | %>
<span style="color:#FF9775;">■</span> お支払い方法<br />
<% @order_delivery.payment_candidates(@cart_price).each do | payment | %>
<% if payment.get_plugin_instance.use_mobile? %>
<%= f.radio_button :payment_id, payment.id %>
<%= payment.name %>
<br/>
<%= view_resource(payment.resource) %>
<% end %>
<% end %>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<div style="clear:both; background-color:#F3F3EC; text-align:center;"><%= image_tag_mobile "border", :width => "226", :height => "2" %><br /></div>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<% if @login_customer %>
<span style="color:#FF9775;">■</span> ポイント使用の指定<br /><p>
<p>
    1ポイントを1円として使用する事ができます。
</p>
<p>
    使用する場合は、「ポイントを使用する」にチェックを入れた後、使用するポイントをご記入ください。
</p>
<p>
    <%=h @login_customer.family_name %><%=h @login_customer.first_name %>様の、
    現在の所持ポイントは「
    <%= @login_customer.point.to_i %>Pt」です。
</p>
<p>
    今回ご購入合計金額：<%= number_with_delimiter(@cart_price) %>円（送料、手数料を含みません。）
</p>
<p>
    <%= radio_button_tag 'point_check', 'true', @point_check %>
    <label for="point_check_true">
        ポイントを使用する
    </label>
    <br/>
    今回のお買い物で、<%= f.text_field :use_point, :size => 10,:style=>"height:14px;" %>ポイントを使用する。
</p>
<p>
    <%= radio_button_tag 'point_check', 'false', !@point_check %>
    <label for="point_check_false">
        ポイントを使用しない
    </label>
</p>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<div style="clear:both; background-color:#F3F3EC; text-align:center;"><%= image_tag_mobile "border", :width => "226", :height => "2" %><br /></div>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<% end %>
<div style="text-align:center;">
    <%= render :partial=>'order_delivery_hiddens' %>
    <%= submit_tag '次へ' -%>
</div>
<% end %>
<% if @not_login_customer %>
<% go_back = "temporary_shipping" %>
<% elsif @login_customer %>
<% go_back = "shipping" %>
<% end %>
<% form_tag :action => go_back do %>
<%= render :partial=>'order_delivery_hiddens' %>
<%=hidden_field_tag "back","1" %>
<div style="text-align:center;">
    <%= submit_tag '戻る' %>
</div>
<% end %>
<% end %>
