<div class="sectionHeader">お届け先の指定</div>

<div class="addressMessage">
	下記一覧よりお届け先住所を選択して、「選択したお届け先に送る」ボタンをクリックしてください。<br />
	一覧にご希望の住所が無い場合は、「新しいお届け先を追加する」より追加登録してください。<br /><br />
	<span class="important">※</span>最大20件まで登録できます。
</div>

<div><%= flash[:notice] %></div>

<div class="createAddress"> <%= link_to_create_address '新規登録', 'rosy small_button delivery_edit' %></div>

<% form_tag({:action => 'delivery'}, {:name=>'form1'}) do %>
	<%= render :partial => 'address_list' %>
	<div class="addressButton1">
		<br /><%= submit_tag '次へ', :class => 'rosy button rightButtonPlacement' %>
	</div>
<% end %>

<div class="addressButton2">
<%= button_to '戻る', {:controller => "cart", :action => 'show'}, :class => 'rosy button leftButtonPlacement' %>
</div>
