<% content_for :head do %>
  <%= stylesheet_link_tag "front/cart" %>
  <%= javascript_include_tag :defaults %>
  <%= popup_for_delivery_address_script %>
<% end %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><a href="/">トップページ</a></li><li><%= link_to 'ショッピングカート', :action => 'show' %></li><li>お届け先住所</li></ol>
<h2 class="main_t">お届け先の指定</h2>
<div id="cart">
  <!-- ショッピングカート -->
  <img src="/images/cart/route03.gif" width="583" height="31" alt="ご購入の流れ" class="route" />

  <p id="caption">
    下記一覧よりお届け先住所を選択して、「次へ」ボタンをクリックしてください。<br />
    一覧にご希望の住所が無い場合は、「新しいお届け先を追加する」より追加登録してください。<br />
    ※最大20件まで登録できます。
  </p>
  <div id="notice"><%= flash[:notice] %></div>
  <noscript>
    <p>JavaScriptが利用できない状態です。<br />一部のコンテンツが正常に動作しない可能性があります</p>
  </noscript>
  <p class="m_btm"><%= link_to_create_address('新しいお届け先を追加する') %></p>
  <% form_tag({:action => 'purchase'}, {:name=>'form1'}) do %>
    <%= render :partial => 'address_list' %>
    <div class="my_btn2">
      <%= link_to(image_tag('/images/cart/cart_btn05.gif', :width=>'101', :height=>'28', :alt=>'戻る', :class=>'hoverImg'), :action => 'show') %>
      <%= image_submit_tag '/images/entry/entry_btn3.gif', :width=>'101', :height=>'28', :alt=>'次へ', :class=>'hoverImg', :action => 'confirm' %>
    </div>
  <% end %>
</div><!-- /cart -->
