<div class="sectionHeader">現在のカゴの中</div>

<p><span class="highlightError"><%= flash[:notice] %><%= h_br(flash[:error]) %><%= flash[:cart_add_product] %></span></p>

<div id="cartSummary">
  <%- if @carts.blank? then -%>
    <span style="color:#ff0000;">※</span> 現在カート内に商品はございません。
  <%- else -%>
        お買い上げ商品の合計金額は<br />
		<span class="highlightYen"><%= h(number_with_delimiter(@cart_price)) %></span>円です。
  <%- end -%>
</div>

<%- unless @carts.blank? -%>
	<%= render :partial  => 'cart_items_smartphone', :locals  => { :details => true, :buttons => true} %>
   
	<div id="cartTotal">
		合計　<span class="highlightYen"><%= h(number_with_delimiter(@cart_price)) %></span>円
	</div>
	  <div id="cartMoreOptions">
	      <%= link_to '注文する', {:controller => 'cart', :action => 'shipping'}, {:class => 'submit_shipping rosy button'} %>
	      <%= link_to 'お買い物を続ける', {:controller => :portal, :action => :show}, {:class => 'rosy button'} %>
	  </div>

<%- end -%>
