<%=h flash[:shop_update] %>
<%=h flash[:shop_update_e] %>
<%= error_messages_for :shop %>
<%= error_messages_for :system %>
<p class="req"><span class="pnt">※</span>は必須入力です</p>
<table cellspacing="1" cellpadding="0" class="data" >
  <tr>
    <th>会社名 <span class="pnt">※</span></th>
    <td><%= text_field "shop", "corp_name", :class => "data_l" %></td>
  </tr>
  <tr>
    <th>会社名（カナ）</th>
    <td><%= text_field "shop", "corp_name_kana", :class => "data_l" %></td>
  </tr>
  <tr>
    <th>店名 <span class="pnt">※</span></th>
    <td><%= text_field "shop", "name", :class => "data_l" %></td>
  </tr>
  <tr>
    <th>店名カナ</th>
    <td><%= text_field "shop", "name_kana", :class => "data_l" %></td>
  </tr>
  <tr>
    <th>郵便番号 <span class="pnt">※</span></th>
    <td><%= text_field "shop", "zipcode01", :size => "3"  %>-&nbsp;&nbsp;<%= text_field "shop", "zipcode02" , :size => "4" %>
      <input name="zipcode_input" value="住所入力" class="btn_s" onclick="address_by_zip('shop_zipcode01','shop_zipcode02', 'shop_prefecture_id', 'shop_address_city', 'shop_address_detail', 'shop_prefecture_id', 'admin/shops');" type="button">
    </td>
  </tr>
  <tr>
    <th>SHOP住所 <span class="pnt">※</span></th>
    <td><%= collection_select "shop", "prefecture_id", Prefecture.find(:all, :order=>"position"), 'id', 'name', {:include_blank => true} %><br /><br />
      <%= text_field "shop", "address_city", :class=>"data_m" %><br /><br />
      <%= text_field "shop", "address_details", :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>TEL</th>
    <td><%= text_field "shop", "tel01", :size => "6" %>-&nbsp;&nbsp;<%= text_field "shop", "tel02", :size => "6" %>-&nbsp;&nbsp;<%= text_field "shop", "tel03", :size => "6" %></td>
  </tr>
  <tr>
    <th>FAX</th>
    <td><%= text_field "shop", "fax01", :size => "6" %>-&nbsp;&nbsp;<%= text_field "shop", "fax02", :size => "6" %>-&nbsp;&nbsp;<%= text_field "shop", "fax03", :size => "6" %></td>
  </tr>
  <tr>
    <th>店舗営業時間</th>
    <td><%= text_field "shop", "businesstime", :class=>"data_m" %></td>
  </tr>
  <tr>
    <th>問合受付メールアドレス <span class="pnt">※</span></th>
    <td><%= text_field "shop", "mail_faq", :class=>"data_m" %></td>
  </tr>
  <tr>
    <th>メール送信元メールアドレス <span class="pnt">※</span></th>
    <td><%= text_field "shop", "mail_sender", :class=>"data_m" %></td>
  </tr>
  <tr>
    <th>管理者メールアドレス <span class="pnt">※</span></th>
    <td><%= text_field "shop", "mail_admin", :class=>"data_m" %></td>
  </tr>
  <tr>
    <th>取扱商品</th>
    <td><%= text_area "shop", "trade_item", :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= text_area "shop", "introduction", :class=>"data_l" %></td>
  </tr>
</table>
<h3>SHOP機能</h3>
<table cellspacing="1" cellpadding="0" class="data" >
  <tr>
    <th>送料無料条件</th>
    <td><%= text_field "system", "free_delivery_rule", :class=>"data_s" %>円以上購入時無料</td>
  </tr>
</table>
<div class="btn_box">
  <%= submit_tag "この内容で登録する", :onclick => "return #{confirm_javascript_function("登録しても宜しいですか")}", :class=>"btn" %>
  <img class="btn_side" width="6" height="34" src="/images/btn_side.gif">
</div>
