<%= error_messages_for :mail %>

<table class="data" cellspacing="1" cellpadding="0">
  <tr>
    <th>メールタイトル <span class="pnt">※</span></th>
    <td><%= text_field :mail, :title, :class => "data_m" %></td>
  </tr>

  <tr>
    <th>ヘッダー</th>
    <td><%= text_area :mail, :header, :class => "data_l", :rows => 10 %><br>
<input type="button" width="110" height="30" value="文字数カウント" onclick="fnTextCount('mail_header','header_count');" border="0" name="next" id="next" class="btn_s" />
<br>今までに入力したのは<input type="text" id="header_count" size="4" class="box4" readonly = true style="text-align:right">
文字です。
</td>
  </tr>
  <tr>
    <th>フッター</th>
    <td><%= text_area :mail, :footer, :class => "data_l", :rows => 10 %><br>
<input type="button" width="110" height="30" value="文字数カウント" onclick="fnTextCount('mail_footer','footer_count');" border="0" name="next" id="next" class="btn_s" />
<br>今までに入力したのは<input type="text" id="footer_count" size="4" class="box4" readonly = true style="text-align:right">
文字です。
</td>
  </tr>
</table>
<%= hidden_field :mail, :id %>
