<% content_for :head do %>
<%= javascript_include_tag 'admin/googleanalytics' %>
<% end %>

<%=h flash[:system_update] %>
<%=h flash[:error] %>
<%= error_messages_for :shops %>
<!--仕入先-->
<% form_for :system, :url =>{:action => "settings_update"} do |f|%>
<div>
<h3>仕入先</h3>
<table cellspacing="1" cellpadding="0" class="data" >
  <tr>
    <th>仕入先を使用しますか</th>
    <td><%= f.radio_button :supplier_use_flag , false%>使用しない	<%= f.radio_button :supplier_use_flag , true%>使用する</td>
  </tr>
</table>
  <div class="btn_box">
  <%= hidden_field_tag "set_id","1"%>
  <%= submit_tag "この内容で登録する", :onclick => "return #{confirm_javascript_function("登録しても宜しいですか")}", :class=>"btn" %>
  <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  </div>
</div>
<% end %>

<div class="clearfix" style="padding-bottom:10px;"></div>
<%=h flash[:ssl_update] %>
<%=h flash[:ssl_error] %>
<% form_for :system, :url =>{:action => "settings_update"} do |f|%>
<div>
<h3>SSL</h3>
<table cellspacing="1" cellpadding="0" class="data" >
  <tr>
    <th>SSLを有効にしますか？</th>
    <td><%= f.radio_button :use_ssl , false%>使用しない	<%= f.radio_button :use_ssl , true%>使用する<br />
<p style="color: red; margin: 10px;">
  SSLを有効にする場合は必ずSSLがサーバ上で設定されている事を確認してください。SSLがサーバ上で無効の場合、管理画面にアクセスできなくなってしまいます。復旧が必要な場合はエレコマのREADMEファイルをご覧ください。
</p>
</td>
  </tr>
</table>
  <div class="btn_box">
  <%= hidden_field_tag "set_id","3"%>
  <%= submit_tag "この内容で登録する", :onclick => "return #{confirm_javascript_function("SSLの設定を変更します。必ずSSLがサーバ上で動作する事を確認の上、有効にしてください。")}", :class=>"btn" %>
  <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  </div>
</div>
<% end %>

<div class="clearfix" style="padding-bottom:10px;"></div>
<% form_for :system, :url =>{:action => "settings_update"} do |f|%>
<%=h flash[:notice_google] %>
<%=h flash[:error_google] %>
<%= error_messages_for :system %>
<div>
<h3>Google&nbsp;Analytics</h3>
<table cellspacing="1" cellpadding="0" class="data" >
  <tr>
    <th>GoogleAnalyticsを使用しますか</th>
    <td><%= f.radio_button :googleanalytics_use_flag , false%>使用しない	<%= f.radio_button :googleanalytics_use_flag , true%>使用する</td>
  </tr>
  <tr>
    <th>アカウント番号(UA-XXXXXX-X)</th>
    <td><%= f.text_field :googleanalytics_account_num %>(20文字以内)</td>
  </tr>
  <tr>
    <th rowspan="3">トラッキングコード</th>
  
    <td><%= f.radio_button :googleanalytics_select_code , System::GA_SELECT_SYNCH %>同期&nbsp;
        <%= f.radio_button :googleanalytics_select_code , System::GA_SELECT_ASYNCH %>非同期&nbsp;
        <%= f.radio_button :googleanalytics_select_code , System::GA_SELECT_MANUAL %>手入力
      <!-- コードの切替用ラジオボタン
      <input type="button" value="同期" onclick="trackingCodeSynchronous(); return false;" class="btn_s" />
      <input type="button" value="非同期" onclick="trackingCodeAsynchronous(); return false;" class="btn_s" />
      ここまで　-->
      <%= f.text_area :tracking_code, :cols => 70 %><br />
      (5000文字以内)
        <p class="req"><span class="pnt">※</span>登録すると、UA-XXXXX-Xにアカウント番号が入ります。</p>
    </td>
  </tr>
</table>
  <div class="btn_box">
    <%= submit_tag "この内容で登録する", :onclick => "return #{confirm_javascript_function("登録しても宜しいですか")}", :class=>"btn" %>
    <%= hidden_field_tag "set_id","2"%>
    <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  </div>
</div>
<% end %>
