<%=h flash[:system_update] %>
<%=h flash[:error] %>
<%= error_messages_for :system %>
<!--仕入先-->
<% form_for :system, :url =>{:action => "settings_update"} do |f|%>
<table cellspacing="1" cellpadding="0" class="data" >
  <tr>
    <th>仕入先を使用しますか</th>
    <td><%= f.radio_button :supplier_use_flag , false%>使用しない	<%= f.radio_button :supplier_use_flag , true%>使用する</td>
  </tr>
</table>
<div class="btn_box">
  <%= hidden_field_tag "set_id","1"%>	
  <%= submit_tag "この内容で登録する", :onclick => "return #{confirm_javascript_function("登録しても宜しいですか")}", :class=>"btn" %>
  <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
</div>
<% end %>
