<%=h flash[:notice] %>
<%=h flash[:error] %>
<%= error_messages_for :law %>
<% fields_for :law do | f | %>
<p class="req"><span class="pnt">※</span>は必須入力です</p>
<table cellspacing="1" cellpadding="0" class="data" >
  <tr>
    <th>販売業者 <span class="pnt">※</span></th>
    <td><%= f.text_field :company, :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>運営責任者 <span class="pnt">※</span></th>
    <td><%= f.text_field :manager, :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>郵便番号 <span class="pnt">※</span></th>
    <td>
      〒<%= f.text_field :zipcode01, :size=>3 %>-&nbsp;&nbsp;<%= f.text_field :zipcode02, :size=>4 %>
      <input name="zipcode_input" value="住所入力" onclick="address_by_zip('law_zipcode01','law_zipcode02', 'law_prefecture_name', 'law_address_city', 'law_address_detail', 'law_prefecture_id', 'admin/shops');" type="button" class="btn_s">
    </td>
  </tr>
  <tr>
    <th>所在地 <span class="pnt">※</span></th>
    <td>
      <%= f.collection_select :prefecture_id, Prefecture.find(:all, :order=>'position'), :id, :name %><br /><br />
      <%= f.text_field :address_city, :class=>"data_m" %><br /><br />
      <%= f.text_field :address_detail, :class=>"data_l" %>
    </td>
  </tr>
  <tr>
    <th>TEL <span class="pnt">※</span></th>
    <td><%= f.text_field :tel01, :size=>4 %>-&nbsp;&nbsp;<%= f.text_field :tel02, :size=>4 %>-&nbsp;&nbsp;<%= f.text_field :tel03, :size=>4 %></td>
  </tr>
  <tr>
    <th>FAX</th>
    <td><%= f.text_field :fax01, :size=>4 %>-&nbsp;&nbsp;<%= f.text_field :fax02, :size=>4 %>-&nbsp;&nbsp;<%= f.text_field :fax03, :size=>4 %></td>
  </tr>
  <tr>
    <th>メールアドレス<span class="pnt">※</span></th>
    <td><%= f.text_field :email, :class => "data_m" %></td>
  </tr>
  <tr>
    <th>URL <span class="pnt">※</span></th>
    <td><%= f.text_field :url, :class=>"data_m" %></td>
  </tr>
  <tr>
    <th>商品代金以外の必要代金<span class="pnt">※</span></th>
    <td><%= f.text_area :necessary_charge, :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>注文方法 <span class="pnt">※</span></th>
    <td><%= f.text_area :order_method, :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>支払方法 <span class="pnt">※</span></th>
    <td><%= f.text_area :payment_method, :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>支払期限 <span class="pnt">※</span></th>
    <td><%= f.text_area :payment_time_limit, :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>引き渡し時期 <span class="pnt">※</span></th>
    <td><%= f.text_area :delivery_time, :class=>"data_l" %></td>
  </tr>
  <tr>
    <th>返品・交換について<span class="pnt">※</span></th>
    <td><%= f.text_area :return_exchange, :class=>"data_l" %></td>
  </tr>
</table>
<% end %>
