<%= javascript_include_tag 'admin/privacy' %>

<%= render :partial => "submenu" %>
<div id="main"><!-- メイン -->

  <h2>プライバシーポリシー</h2>
  <%= flash[:error] %>
  <%= flash[:shop_privacy] %>
  <%= error_messages_for :privacy %>
  <br />
  <% form_tag do %>
	<%= select_tag "copy_from", options_for_select(Privacy::PRIVACY_NAMES.map{|a,b|[b,a]}.sort{|a, b| a[1] <=> b[1]}) %>の内容を
	<%= select_tag "copy_to", options_for_select(Privacy::PRIVACY_NAMES.map{|a,b|[b,a]}.sort{|a, b| a[1] <=> b[1]}) %>に
	<input name="concent_copy" value="コピーする" onclick="copy();" type="button" class="btn_s"><br/><br/>
	<h3>個人情報収集（PC）</h3>
	<p align="right" class="btn_t"><%= button_to_function '現在の内容を確認', "preview(0)",:class =>"btn_s"%></p>
	<p class="t_center" style="padding-bottom:10px;" ><%= text_area "privacy", "content_collect", :size=>'80x30' %></p>
	<h3>個人情報収集（モバイル）</h3>
	<p align="right" class="btn_t"><%= button_to_function '現在の内容を確認', "preview(1)",:class =>"btn_s"%></p>
	<p class="t_center" style="padding-bottom:10px;" ><%= text_area "privacy", "content_collect_mobile", :size=>'80x30' %></p>
	<h3>個人情報保護方針（PC）</h3>
	<p align="right" class="btn_t"><%= button_to_function '現在の内容を確認', "preview(2)",:class =>"btn_s"%></p>
	<p class="t_center" style="padding-bottom:10px;" ><%= text_area "privacy", "content_privacy", :size=>'80x30' %></p>
	<h3>個人情報保護方針（モバイル）</h3>
	<p align="right" class="btn_t"><%= button_to_function '現在の内容を確認', "preview(3)",:class =>"btn_s"%></p>
	<p class="t_center" style="padding-bottom:10px;" ><%= text_area "privacy", "content_privacy_mobile", :size=>'80x30' %></p>
    <%=hidden_field_tag "preview_id"%>
	<div class="btn_box">
      <%= button_to_function "この内容で登録する", "regist()", :class=>"btn" %>
      <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
    </div>
  <% end %>

</div><!-- /メイン -->
