<%# render :partial => 'add_cart', :locals => {:product => product} 等と書く -%>
<% form_tag :controller => :cart, :action => :add_product do %>

<div style="text-align:center;">
 <% if product.in_sale_term? && !(@login_customer && @login_customer.black) %>
  <%= flash['error_%d' % product.id] %>
  <%= @add_product && error_messages_for(:add_product) %>

   <% each_product_styles(product) do |style,style_categories,index| %>
	<%= style.name %>:<br />
    <%= select_tag 'style_category_id%d'%index,
        options_for_select(style_categories.map{|sc|[sc.name, sc.id]}) %><br /><br />
   <% end %>

	個数:<%= text_field_tag 'size', 1 , :size => "3"%>
	<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>

    <%= hidden_field_tag 'campaign_id', campaign_id if local_variables.include?('campaign_id') %>
	<%= hidden_field_tag 'product_id', product.id %>
	
  <% if @admin_preview %>
    <input type="button" value="カートに入れる" />
  <% else %>
    <%= submit_tag 'カートに入れる' %>
  <% end %>

 <% elsif product.sale_start_at > Time.now # 販売終了商品 %>
  <p><%= product.sale_start_at.strftime("%Y年%m月%d日") %>発売予定</p>
 <% else # 販売終了商品 %>
  <p><span style="color:#ff0000;">この商品は販売を終了しております。</span></p>
 <% end %>
</div>
<% end %>
