<%# render :partial => 'add_cart', :locals => {:product => product} 等と書く -%>
<% form_tag :controller => :cart, :action => :add_product do %>

<div>
<div class="centerCart">
<div id="cart_in">
 <% if product.in_sale_term? && !(@login_customer && @login_customer.black) %>
  <%= flash['error_%d' % product.id] %>
  <%= @add_product && error_messages_for(:add_product) %>
  <table id="style_set">
   <% each_product_styles(product) do |style,style_categories,index| %>
     <tr>
      <th><%= style.name %></th>
      <td>
       <%= select_tag 'style_category_id%d'%index,
           options_for_select(style_categories.map{|sc|[sc.name, sc.id]}) %>
      </td>
     </tr>
   <% end %>
   <tr>
    <th>個数</th>
    <td><%= text_field_tag 'size', 1 , :size => "3"%></td>
   </tr>
   <tr>
    <td colspan="2">
     <%= hidden_field_tag 'campaign_id', campaign_id if local_variables.include?('campaign_id') %>
     <%= hidden_field_tag 'product_id', product.id %>
    </td>
   </tr>
  </table>
 <% elsif product.sale_start_at > Time.now # 販売終了商品 %>
  <p><%= product.sale_start_at.strftime("%Y年%m月%d日") %>発売予定</p>
 <% else # 販売終了商品 %>
  <p>この商品は販売を終了しております。</p>
 <% end %>
</div>
<div id="addToCart">
	<% if @admin_preview %>
		<input type="button" value="カートに入れる" />
	<% else %>
		<%= submit_tag 'カートに入れる', :class=>'rosy button' %>
	<% end %>
   </div>
   </div>
</div>
<% end %>
