<div style="background-color:#F3F3EC;">
<div style="background-color:#FACFD2;"><a name="item" id="item"></a>
  <div><%= image_tag_mobile "title_pink", :width => "100%", :height => "6", :alt => "" %></div>
  <div style="background-color:#FACFD2;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
<span style="color:#CD2525;">&#xE70E;</span> <span style="color:#5F4347;"> ｱｲﾃﾑから探す</span>
<div style="background-color:#FACFD2;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
<div style="text-align:center;"><%= image_tag_mobile "border_pink", :width => "236", :height => "2", :alt => "" %></div>
</div>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>

<%= category_list_view("MOBILE") %>

<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
<div style="background-color:#998A83;"><%= image_tag_mobile "spacer", :width => "100%", :height => "1" %><br /></div>
</div>
<div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "6" %><br /></div>
