<%- unless @recommend_products.blank? -%>
<div style="background-color:#F3F3EC;">
  <div style="background-color:#FACFD2;"><a name="reco" id="reco"></a>
    <div><%= image_tag_mobile "title_pink", :width => "100%", :height => "6", :alt => "" %></div>
    <div style="background-color:#FACFD2;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
    <span style="color:#CD2525;">&#xE727;</span> <span style="color:#5F4347;">おすすめｱｲﾃﾑ</span>
    <div style="background-color:#FACFD2;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
    <div style="text-align:center;"><%= image_tag_mobile "title_pink", :width => "236", :height => "2", :alt => "" %></div>
  </div>
  <div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>

  <%- @recommend_products.each do |recommend_product| -%>
    <%= product_image_tag recommend_product.product,
      :small, {:width => "70", :height => "70", :alt => "", :align => "left", :style => "vertical-align:middle; float:left; margin:4px; border:1px solid #666666"} %>
      <%= link_to_product recommend_product.product -%><br />
      <%= simple_format h recommend_product.description -%>
      <br clear="all" />
      <div style="clear:both; background-color:#F3F3EC; text-align:center;"><img src="/images/mobile/border.gif" width="226" height="2" /><br /></div>
    <%- end -%>

    <div style="background-color:#998A83;"><%= image_tag_mobile "spacer", :width => "100%", :height => "1" %><br /></div>
  </div>
  <div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "6" %><br /></div>
<%- end -%>
