<%- unless @recommend_xmls.blank? -%>
<h2 class="clearfix"><%= image_tag "/images/top/ranking_t.gif", :alt => "人気商品ランキング" %><span class="more"></span></h2>
<div id="ranking" class="clearfix">
  <ul>
    <%- @recommend_xmls.each_with_index do | rx, idx | -%>
      <li class="rank<%=h idx+1 %>">
        <%= link_to((product_image_tag(rx.recommend, :small, :class=>"rank_item")), {:controller => "/products", :action => "show", :id => (rx.recommend_id),:category_id => rx.recommend.category_id}) %>
        <div class="rank_img">
          <%= image_tag("top/rank" + (idx + 1).to_s + ".gif", :width => "41", :height => "41", :alt => "人気商品第" + (idx + 1).to_s + "位") %>
        </div>
        <div class="rank_t"><p><%= link_to_product rx.recommend -%></p></div>
      </li>
    <%- end -%>
  </ul>
</div>
<div class="m_btm"><%= image_tag "/images/top/top_bg_btm.gif", :size => "530x5", :alt => "" %></div>
<%- end -%>
