<%- unless @recommend_products.blank? -%>
<h2><%= image_tag "/images/top/reco_item_t.gif", :alt => "オススメ商品" %></h2>
<div id="reco_item" class="clearfix">
  <ul class="clearfix">
    <%- @recommend_products.each do | recommend_product | -%>
      <li class="clearfix">
      <%= link_to((product_image_tag(recommend_product.product, :small)), {:controller => "/products", :action => "show", :id => (recommend_product.product_id),:category_id => recommend_product.product.category_id}) %>
      <dl>
        <dt><%= link_to_product recommend_product.product -%></dt>
        <dd><%=h recommend_product.description -%></dd>
      </dl>
      </li>
    <%- end -%>
  </ul>
</div>
<div><%= image_tag "/images/top/top_bg_btm.gif", :size => "530x5", :alt => "" %></div>
<%- end -%>
