<% if @recommend_views && !@recommend_views.empty? %>
 <div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
 <div style="background-color:#F3F3EC;">
 <div><%= image_tag_mobile "title_gray", :width => "100%", :height => "10" %></div>
 <span style="color:#CD2525;">&#xE6F6;</span> <span style="color:#5F4347;">この商品をチェックしている人は、こんな商品もチェックしています</span>
 <div style="text-align:center;"><%= image_tag_mobile "border", :width => "226", :height => "2", :style => "margin-top:4px; margin-bottom:2px;" %></div>
 <div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
  <% @recommend_views[0..2].each_with_index do | recommend_xml, i | %>
<%- if false %>
   <div style="text-align:center;"><%= product_image_tag recommend_xml.recommend , :small %></div>
<% end -%>
   <%= link_to_product recommend_xml.recommend, recommend_xml.name %><br />
   <br />
  <% end %>
 <div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "6" %><br /></div>
 <div style="background-color:#998A83;"><%= image_tag_mobile "spacer", :width => "100%", :height => "1" %><br /></div>
 </div>
 <div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "6" %><br /></div>

<% end %>
