<%= stylesheet_link_tag "design/design" %>
<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>PCフリースペース編集</h2>
<%=h flash[:notice] %>
<%=h flash[:error] %>
<%= error_messages_for :design if @design%>

<% form_for :design, :url => {:action => 'update_pc'} do |f| %>
  <%= f.error_messages if @design %>

  <h3>フリースペース1</h3>
  <p class="t_center"><%= f.text_area :pc1, :size=>'110x20' %></p>
  <br />
  <h3>フリースペース2</h3>
  <p class="t_center"><%= f.text_area :pc2, :size=>'110x20' %></p>
  <br />
  <div class="btn_box">
    <%= f.submit "この内容で登録する", :class=>"btn" %>
    <img class="btn_side" width="6" height="34" src="/images/btn_side.gif">
  </div>
<% end %>

</div><!-- /メイン -->
