<% if @error_message %>
  <p><%=h @error_message %></p>
<% else %>
  <p><%=h @error_messages %></p>
  <% form_tag(:action => "confirm") do %>
    <% unless params[:new] && params[:new].to_s == true.to_s && ! @product_style_flg %>
      <%= hidden_field_tag "style_id1", @style1.id if @style1 %>
      <%= hidden_field_tag "style_id2", @style2.id if @style2 %>
      <%= render :partial => "form" %>
      <div class="btn_box">
        <%= submit_tag "確認する", :class=>"btn" %>
        <img class="btn_side" width="6" height="34" src="/images/btn_side.gif">
      </div>
    <% end %>
  <% end %>
<% end %>
