    <table class="data" cellspacing="1">
      <tr>
        <th>商品ID</th>
        <td><%= f.text_field :product_id, :class=>"data_m"  %></td>
      </tr>
      <tr>
        <th>商品コード</th>
        <td><%= f.text_field :code, :class=>"data_m" %></td>
      </tr>
      <tr>
        <th>商品名</th>
        <td><%= f.text_field :name, :class=>"data_m" %></td>
      </tr>
      <tr>
        <th>商品型番</th>
        <td><%= f.text_field :manufacturer, :class=>"data_m" %></td>
      </tr>
	 <%if @system_supplier_use_flag%>
	  <tr>
	    <th>仕入先名</th>
	    <td><%suppliers = Supplier.find(:all,:order=>'id')%>
		  <%=f.select :supplier,suppliers.map{|s| [s.name,s.id.to_s]}, :include_blank => true %>
	    </td>
	  </tr>  
	 <% end %>	  
      <tr>
        <th>カテゴリ</th>
        <td><%= category_select :condition, :category, :include_blank => true %></td>
      </tr>
      <tr>
        <th>登録日・更新日</th>
        <td>
          <%= calendar_date_select(:condition,:updated_at_from,
                          {:start_year => 5.years.ago.year,
                          :end_year => Date.today.year,
                          :use_month_numbers => true,
                          :include_blank =>true})%>
          〜
          <%= calendar_date_select(:condition,:updated_at_to,
                          {:start_year => 5.years.ago.year,
                          :end_year => Date.today.year,
                          :use_month_numbers => true})%>
        </td>
      </tr>
      <tr>
       <td class="submit" colspan="4">
      検索結果表示件数
        <%= select_tag "condition[per_page]", options_for_select((10..100).step(10).map(&:to_s)) %>
        件
        <%= submit_tag "この条件で検索する", :class=>"btn_s" %></td>
      </tr>
    </table>
