<%= error_messages_for :retailer %>

<% form_for [:admin, @retailer] do |f| %>
  <p class="req"><span class="pnt">※</span>は必須入力です</p>
  <table class="data" cellspacing="1">
    <tr>
      <th>店名 <span class="pnt">※</span></th>
      <td><%= f.text_field :name, :class => "data_m" %></td>
    </tr>
    <tr>
      <th>店名(カナ) <span class="pnt">※</span></th>
      <td><%= f.text_field :name_kana, :class => "data_m" %></td>
    </tr>
    <tr>
      <th>会社名 <span class="pnt">※</span></th>
      <td><%= f.text_field :corp_name, :class => "data_m" %></td>
    </tr>
    <tr>
      <th>会社名(カナ) <span class="pnt">※</span></th>
      <td><%= f.text_field :corp_name_kana, :class => "data_m" %></td>
    </tr>
  </table>

  <div class="btn_box">
    <%= f.submit 'この内容で登録する', :class => "btn" %>
    <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  </div>

<% end %>
