    <% flg =  ( params[:action] =~ /confirm/ ) && @product.errors.empty? %>
    <% @confirm_hidden_field ||= "" %>
    <%= hidden_field_tag "sub_product[#{sub_product.no}][no]", sub_product.no %>
    <% @confirm_hidden_field += hidden_field_tag "sub_product[#{sub_product.no}][no]", sub_product.no %>
<tr>
  <th>
    詳細-サブタイトル(<%= sub_product.no %>)
  </th>
  <td>
    <% if !flg %>
      <%# 登録画面 %>
      <%= text_field_tag "sub_product[#{sub_product.no}][name]", sub_product.name, :class=>"data_m" %>
    <% else %>
      <%# 確認画面 %>
      <%= h sub_product.name %>
      <% @confirm_hidden_field += hidden_field_tag "sub_product[#{sub_product.no}][name]" ,sub_product.name %>
    <% end %>
  </td>
</tr>
<tr>
  <th>
    詳細-サブコメント(<%= sub_product.no %>)
  </th>
  <td>
    <% if !flg %>
      <%# 登録画面 %>
      <%= text_field_tag "sub_product[#{sub_product.no}][description]" ,sub_product.description, :class=>"data_l" %>
    <% else %>
      <%# 確認画面 %>
      <%= h sub_product.description %>
      <% @confirm_hidden_field += hidden_field_tag "sub_product[#{sub_product.no}][description]" ,sub_product.description %>
    <% end %>
  </td>
</tr>
<tr>
  <th>
    詳細-サブ画像(<%= sub_product.no %>)
  </th>
  <td>
    <% if !flg %>
      <%# 登録画面 %>
      <%= file_field_tag "sub_product[#{sub_product.no}][medium_resource]", :size=>"30" %> <br>
      <div id="sub_product_medium_resource_<%= sub_product.no %>">
      <%= view_resource_id  sub_product.medium_resource_id if sub_product.medium_resource_id %>
      <%= hidden_field_tag "sub_product[#{sub_product.no}][medium_resource_id]" ,sub_product.medium_resource_id %>
      <%= link_to_function "この画像を削除する", "document.getElementById(\"sub_product_medium_resource_#{sub_product.no}\").style.display = 'none';document.getElementById(\"sub_product_#{sub_product.no}_medium_resource_id\").value=0" %>
      </div>
    <% else %>
      <%# 確認画面 %>
      <%= view_resource_id  sub_product.medium_resource_id if sub_product.medium_resource_id %>
      <% @confirm_hidden_field += hidden_field_tag "sub_product[#{sub_product.no}][medium_resource_id]" ,sub_product.medium_resource_id %>
    <% end %>
  </td>
</tr>
<tr>
  <th>
    詳細-サブ拡大画像(<%= sub_product.no %>)
  </th>
  <td>
    <% if !flg %>
      <%# 登録画面 %>
      <%= file_field_tag "sub_product[#{sub_product.no}][large_resource]", :size=>"30" %> <br>
      <div id="sub_product_large_resource_<%= sub_product.no %>">
      <%= view_resource_id  sub_product.large_resource_id if sub_product.large_resource_id %>
      <%= hidden_field_tag "sub_product[#{sub_product.no}][large_resource_id]" ,sub_product.large_resource_id %>
      <%= link_to_function "この画像を削除する", "document.getElementById(\"sub_product_large_resource_#{sub_product.no}\").style.display = 'none';document.getElementById(\"sub_product_#{sub_product.no}_large_resource_id\").value=0" %>
      </div>
    <% else %>
      <%# 確認画面 %>
      <%= view_resource_id  sub_product.large_resource_id if sub_product.large_resource_id %>
      <% @confirm_hidden_field += hidden_field_tag "sub_product[#{sub_product.no}][large_resource_id]" ,sub_product.large_resource_id %>
    <% end %>
  </td>
</tr>
