<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->
<%=h flash[:notice] %>
<%=h flash[:error] %>
<h2>商品の検索</h2>
<%= render :partial => "search_ps" %>
<br/>
<%= render :partial => "items" %>
<p><%= link_to "この内容で登録",{:action => "product_form"} %></p>
<br/>
<p><%= link_to "リストをリセット",{:action => "reset"} %></p>
</div><!-- /メイン -->
