<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->
<h2>セット商品の追加</h2>
<%=h flash[:notice] %>
<%=h flash[:error] %>
<%= render :partial => "search_ps" %>
<br />
  <p>&gt;&gt;検索結果一覧&nbsp;<%=@product_styles.total_entries %>件&nbsp;が該当しました</p>

<% form_tag :action => "permit_setting" do %>
  <table class="data2 clear" cellspacing="1">
    <tr>
      <th>ID(ps)</th>
      <th>商品画像</th>
      <th>価格</th>
      <th>商品コード</th>
      <th>商品名(full_name)</th>
      <th>カテゴリ</th>
      <th>商品<br />詳細</th>
      <th>セットに追加</th>
    </tr>
    <% @product_styles && @product_styles.each do | ps | %>
      <tr>
        <td><%= h ps.id %></td>
        <td><%= product_image_tag ps.product, :small %></td>
        <td><%= h ps.product.price_range.join('～') %></td>
        <td><%= h ps.code %></td>
        <td><%= h ps.full_name %></td>
        <td><%= h ps.product.category_name %></td>
        <td class="t_center">
          <%= link_to_product ps.product,  "確認", {:target => "_blank"} %>
        </td>
        <td class="t_center"><%=link_to "ADD",:action=>"add_product",:id => ps.id %></td>
      </tr>
    <% end %>
  </table>
 <% end %>

<%= will_paginate @product_styles, :params => {:search => params[:search] } %>



</div><!-- /メイン -->
