<% content_for :head do %>
  <%= stylesheet_link_tag "front/portal" %>
<% end %>

<div id="container" class="clearfix">
  <ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => 'portal', :action => 'show' %></li><li>当サイトについて</li></ol>

  <p class="tb_t">当サイトについて</p>
  <table class="tb2">
    <tr>
      <th width="130">店名</td>
      <td><%=h @shop.try(:name) %></td>
    </tr>
    <tr>
      <th>運用会社</th>
      <td><%=h @shop.try(:corp_name) %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        〒<%=h @shop.try(:zipcode) %><br />
        <%=h @shop.try(:address) %>
      </td>
    </tr>
    <% if @shop.tel.blank? %>
    <tr>
      <th>電話番号</th>
      <td><%=h @shop.try(:tel) %></td>
    </tr>
    <% end %>
    <% if @shop.fax.blank? %>
    <tr>
      <th>FAX番号</th>
      <td><%=h @shop.try(:fax) %></td>
    </tr>
    <% end %>
    <tr>
      <th>お問い合わせ<br />メールアドレス</th>
      <td><%=h @shop.try(:mail_faq) %></td>
    </tr>
    <% unless @shop.trade_item.blank? %>
    <tr>
      <th>取り扱い商品</th>
      <td><%=h @shop.try(:trade_item) %></td>
    </tr>
    <% end %>
    <% unless @shop.businesstime.blank? %>
    <tr>
      <th>営業時間</th>
      <td><%=h @shop.try(:businesstime) %></td>
    </tr>
    <% end %>
    <% unless @shop.introduction.blank? %>
    <tr>
      <th>メッセージ</th>
      <td class=no_bg><%=h @shop.try(:introduction) %></td>
    </tr>
    <% end %>
  </table>
  <!-- /container -->
</div>
