<% content_for :head do %>
  <%= stylesheet_link_tag "front/retailer" %>
<% end %>

<div id="retailer"><!-- メイン -->
  <ol id="bread_list" class="m_btm">
    <li class="bread_top"><%= link_to "トップページ", "/" %></li>
    <li><%= "#{@retailer.name} " %></li>
  </ol>
  <h2 class="main_t"><%= @retailer.name %></h2>
  <h3 class="tb_t">ショップ情報</h3>

  <table class="tb2">
    <tr>
      <th width="130">店名</th>
      <td><%=h @retailer.try(:name) %></td>
    </tr>
    <tr>
      <th>運用会社</th>
      <td><%=h @retailer.try(:corp_name) %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        〒<%=h @retailer.try(:zipcode) %><br />
        <%=h @retailer.try(:address) %>
      </td>
    </tr>
    <% if @retailer.tel.blank? %>
    <tr>
      <th>電話番号</th>
      <td><%=h @retailer.try(:tel) %></td>
    </tr>
    <% end %>
    <% if @retailer.fax.blank? %>
    <tr>
      <th>FAX番号</th>
      <td><%=h @retailer.try(:fax) %></td>
    </tr>
    <% end %>
    <tr>
      <th>お問い合わせ<br />メールアドレス</th>
      <td><%=h @retailer.try(:mail_faq) %></td>
    </tr>
    <% unless @retailer.trade_item.blank? %>
    <tr>
      <th>取り扱い商品</th>
      <td><%=h @retailer.try(:trade_item) %></td>
    </tr>
    <% end %>
    <% unless @retailer.businesstime.blank? %>
    <tr>
      <th>営業時間</th>
      <td><%=h @retailer.try(:businesstime) %></td>
    </tr>
    <% end %>
    <% unless @retailer.introduction.blank? %>
    <tr>
      <th>メッセージ</th>
      <td class="no_bg"><%=h @retailer.try(:introduction) %></td>
    </tr>
    <% end %>
  </table>
  <h3 class="tb_t">配送料</h3>

  <% @delivery_traders.each do |delivery_trader| %>
    <table class="data2" cellspacing="1" cellpadding="0">
      <h4 class="tb_t"><%=h delivery_trader.name %></h4>
      <% delivery_trader.delivery_fees.each_with_index do |delivery_fee, i| %>
        <%- if i==0 || i%2 == 0 -%><tr><%end%>
        <th><%= delivery_fee.prefecture_name %></th>
        <td><%= delivery_fee.price %>円</td>
        <%-if i%2 >0%> </tr><%end%>
      <%-end-%>
    </table>
  <% end %>

</div>

