<h3>返品登録</h3>
<table class="data" cellspacing="1">
  <tr>
    <th>返品数</th>
    <td>
      <%= f.text_field :returned_count, {:class => "data_s"} %>
    </td>
  </tr>
  <tr>
    <th>返品日時</th>
    <td>
      <%= calendar_date_select(:return_item,:returned_at,
                              {:start_year => 5.years.ago.year,
                               :end_year => Date.today.year,
                               :use_month_numbers => true,
                               :include_blank => true})%>
    </td>
  </tr>
  <tr>
    <th>返品理由</th>
    <td>
      <%= f.text_area :comment, {:size => "60x10"} %>
    </td>
  </tr>
  <%= f.hidden_field :product_id, {:value => @pou.ps.product.id.to_s} %>
  <%= f.hidden_field :product_order_unit_id, {:value => @pou.id.to_s} %>
</table>
