<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>返品登録</h2>
<%=h flash[:return_item_update] %>
<%=h flash[:return_item_update_e] %>
<%= error_messages_for :condition %>

<% form_for :condition, :url => {:action => 'search'}, :html => {:method => :get} do |f| %>
  <%= render :partial => "search", :locals=>{:f => f}%>
<% end %>
</div><!-- /メイン -->

