<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

  <h2>返品管理</h2>
  <%=h flash[:notice] %>
  <%=h flash[:error] %>
  <%= error_messages_for :condition %>
  <% form_for :condition, :url => {:action => 'search'}, :html => {:method => :get} do |f| %>
    <%= render :partial => "search", :locals=>{:f => f}%>
  <% end %>
  <br />

  <p>&gt;&gt;検索結果一覧&nbsp;<%=@pous.total_entries %>件&nbsp;が該当しました。</p><br/>
  <table class="data2 clear" cellspacing="1">
    <tr>
      <th>商品ID</th>
      <th>商品コード</th>
      <th>商品名</th>
      <th>規格名称</th>
      <th>商品型番</th>
      <th>実在庫数</th>
      <th>返品登録</th>
    </tr>
    <%unless @pous.blank?%>       
      <% @pous.each do | pou | %>
        <tr>
          <td><%= h pou.is_set? ? pou.product_set.product.id : pou.product_style.product.id %></td>
          <td><%= h pou.product_style.code unless pou.is_set? %></td>
          <td><%= h pou.sell_name %></td>
          <td><%= h pou.product_style.style_name unless pou.is_set? %></td>
          <td><%= h pou.product_style.manufacturer_id unless pou.is_set? %></td>
          <td><%= number_with_delimiter(pou.product_style.actual_count.to_i) unless pou.is_set? %></td>
          <td class="t_center">
            <%= link_to "登録", :action=>"new", :id => pou.id %>
          </td>
        </tr>
      <% end %>
    <%end%>
  </table>
  <%= will_paginate @pous %>
</div><!-- /メイン -->

