<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>棚卸用 CSV 出力</h2>
<h3>棚卸データ出力</h3><br/>
<% form_tag :action => 'new' do %>
 <p>現在時刻時点での在庫情報を出力</p>
  <div class="btn_box space20_bottom">
    <%= submit_tag 'CSV DOWNLOAD', :class=>"btn" %>
    <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  </div>
<% end %><br/><br/><br/><br/><br/>

<h3>再出力</h3><br/>
<%unless @dates.blank?%>
<table class="data" cellspacing="1">
 <tr>
  <th>対象年月</th>
  <th>再出力</th>
 </tr>
<% @dates.zip(@urls).each do |date, url| %>
 <tr>
  <td><%= date.strftime('%Y/%m/%d %H:%M:%S') %></td>
  <td><%= link_to 'CSV DOWNLOAD', url %></td>
 </tr>
<% end %>
</table>
<% end %>
</div><!-- /メイン -->
