<% form_for [:admin, @style_category] do |f| %>
  <%= f.error_messages %>
  <table class="data2" cellspacing="1">
    <tr>
      <th>規格分類名</th>
      <td>
        <%= f.text_field :name %>
        <%= f.hidden_field :style_id %>
        <%= f.submit "登録", :confirm=>"この内容で登録して宜しいですか？", :class=>"btn_s" %>
      </td>
    </tr>
  </table>
  <%= hidden_field_tag :style_id, params[:style_id] %>
  <%= hidden_field_tag :id, @style_category.id %>
<% end %>
