<% content_for :head do %>
<% if nil %>
<meta name="author" content="<%= @seo_top.author %>" />
<meta name="description" content="<%= @seo_top.description %>" />
<meta name="keywords" content="<%= @seo_top.keywords %>" />
<% end %>
<% end %>

<div style="background-color:#FFFFFF; color:#000000; text-align:center">
  <span style="color:#0000FF;">★････････★</span><br />
  はじめての方へ<br />
  <span style="color:#0000FF;">★････････★</span><br />
</div>
<br />
<div style="background-color:#FFFFFF; color:#000000; text-align:left">
  <span style="color:#FF0000;">(C)K&Bｽﾀｲﾙ</span>へようこそ！このﾍﾟｰｼﾞでは、各ｺﾝﾃﾝﾂをｶﾝﾀﾝに紹介するよ！<br />
  <br />
  <span style="color:#FF0000;">●会員登録について</span><br />
  (C)K&Bｽﾀｲﾙでは「会員登録」をしておくと、買い物が便利になるよ。<br />
  会員登録は会員登録ﾘﾝｸから、<span style="color:#00FF00;">お客様の氏名、性別、生年月日、住所、電話番号、ﾒｰﾙｱﾄﾞﾚｽ</span>を入力。<br />
  会員登録をしていれば<span style="color:#00FF00;">ﾒｰﾙｱﾄﾞﾚｽと専用のﾛｸﾞｲﾝﾊﾟｽﾜｰﾄﾞ</span>を入力するだけで、入力の手間が省けちゃう。<br />
  また、会員のお客様だけに！お得な情報をお送りする<span style="color:#00FF00;">ﾒｰﾙﾏｶﾞｼﾞﾝを配信♪</span><br />
  ﾚｱﾓﾉをｹﾞｯﾄしちゃおう。<br />
  ⇒会員登録は<%= link_to 'ｺﾁﾗ', {:controller => 'account', :action => 'kiyaku_intro'}  %><br />
</div>
<br />
<br />
<div style="background-color:#FFFFFF; color:#000000; text-align:left">
  <span style="color:#FF0000;">●取り扱いｷｬﾗｸﾀｰについて</span><br />
  <span style="color:#6699FF;">・ｽﾇｰﾋﾟｰ</span><br />
  1950年から50年近くに渡って、ｱﾒﾘｶの新聞に掲載されたｺﾐｯｸ、「PEANUTS」。<br />
  主人公ﾁｬｰﾘｰ･ﾌﾞﾗｳﾝの愛犬として登場した「ｽﾇｰﾋﾟｰ」が大人気！<br />
  原作でもその仲間たちが繰り広げるｴﾋﾟｿｰﾄﾞが多くのﾌｧﾝをひきつけているよ。<br />
  <br />
  <span style="color:#6699FF;">・ﾐｯﾌｨｰ</span><br />
  ﾐｯﾌｨｰは1955年にｵﾗﾝﾀﾞでﾃﾞｨｯｸ･ﾌﾞﾙｰﾅの絵本の主人公として生まれました。<br />
  ﾐｯﾌｨｰは物語に登場してからずっと、みんなのお友達として親しまれています！<br />
  <br />
  <span style="color:#6699FF;">・ﾑｰﾐﾝ</span><br />
  ﾌｨﾝﾗﾝﾄﾞ生まれの世界の人気者！ﾑｰﾐﾝﾄﾛｰﾙと仲間たちの素敵な物語は1969年にTVｱﾆﾒ化され、日本でもおなじみのｷｬﾗｸﾀｰになりました。<br />
  <br />
  <span style="color:#6699FF;">・ﾘｻとｶﾞｽﾊﾟｰﾙ</span><br />
  人間でも動物でもない不思議な空想上のこども達、ﾘｻとｶﾞｽﾊﾟｰﾙ。<br />
  ふたりが暮らすのはおしゃれな街ﾊﾟﾘ。ふたりはかわいいだけじゃない！<br />
  お互いが魅力ある個性の持ち主。そしてとっても仲良し。ふたりがつけている赤と青のｽｶｰﾌは友情の印として、出会ったときに交換したもの。<br />
  <br />
  <span style="color:#6699FF;">・はらぺこあおむし</span><br />
  原作はｴﾘｯｸ･ｶｰﾙさん。1969年に「はらぺこあおむし」を発表。これがたちまち世界的なﾍﾞｽﾄｾﾗｰになりました。<br />
  （原題は「The Very Hungry Caterpillar」日本語訳「はらぺこあおむし」は偕成社刊）<br />
  1969年に刊行されて以来、32ヶ国語に翻訳され現在220万部を超えるﾐﾘｵﾝｾﾗｰとなっています。<br />
  <br />
  <span style="color:#6699FF;">・ｵﾘﾋﾞｱ ｻﾞ ﾋﾟｸﾞﾚｯﾄ</span><br />
  ｵﾘﾋﾞｱは元気いっぱいで、得意なことが沢山あります。<br />
  はっきり自己主張をする、気になるこぶたのｵﾘﾋﾞｱは非常に独創的。<br />
  ﾙｯｸｽ、ﾌｨｰﾘﾝｸﾞ、そしてその態度がみんなをひきつけます！<br />
  <br />
  <span style="color:#6699FF;">・ﾓﾝﾁｯﾁ</span><br />
  「ﾓﾝﾁｯﾁ」は1974年に誕生。おしゃぶりﾎﾟｰｽﾞとそばかすがﾄﾚｰﾄﾞﾏｰｸのかわいい姿で、誕生から32年を迎えた今も世界中の多くの人に愛され続けているんだ。<br />
  また、おととしにめでたく結婚！双子のかわいいﾍﾞﾋﾞｰ「ﾍﾞﾋﾞﾁｯﾁ」がこうのとりに運ばれて誕生したんだよ。<br />
  <br />
  <span style="color:#6699FF;">・ｳｫﾚｽとｸﾞﾙﾐｯﾄ</span><br />
  発明家のｳｫﾚｽとその愛犬ｸﾞﾙﾐｯﾄが巻き起こすどたばたｺﾒﾃﾞｨｰ。78回ｱｶﾃﾞﾐｰ賞でを長編ｱﾆﾒ部門のｵｽｶｰ受賞！その面白さは折り紙つき！<br />
  <br />
  <span style="color:#6699FF;">・ﾋﾟﾝｸﾞｰ</span><br />
  ﾋﾟﾝｸﾞｰは、南極に住む小さなﾍﾟﾝｷﾞﾝの男の子。ﾊﾟﾊﾟとﾏﾏと妹のﾋﾟﾝｶﾞと4人家族、<br />
  それになかよしのﾛﾋﾞと一緒に楽しく暮らしているよ。やんちゃで元気なﾋﾟﾝｸﾞｰはいろんなことに興味ｼﾝｼﾝ！<br />
  <br />
  <span style="color:#6699FF;">・くまのがっこう</span><br />
  「くまのがっこう」は山の上の寄宿舎でくらす12ひきのくまのこたちのお話です。<br />
  絵本は、2002年8月の発売以来、2006年2月現在67万部を超える人気ｼﾘｰｽﾞとなっており、2004年10月にはﾌﾗﾝｽで出版されるなど、その人気は世界へ広がっています。ぬいぐるみをはじめとするｸﾞｯｽﾞや音楽CDも大人気。<br />
  また、ｲﾍﾞﾝﾄやｺﾝｻｰﾄ、NPO法人「子供地球基金」への支援など、絵本を超えて<br />
  子どもたちを応援する活動も積極的に行っています。<br />
  <br />
  <span style="color:#6699FF;">・ｷｭﾘｱｽ･ｼﾞｮｰｼﾞ</span><br />
  好奇心旺盛で、ﾊﾞﾅﾅが大好物のおさるのｼﾞｮｰｼﾞ。12ヶ国語に翻訳され、世界中でおよそ2700万部発行。日本国内ではながいこと「ひとまねこざる」の名前で愛されてきましたが、近頃では「ｷｭﾘｱｽ･ｼﾞｮｰｼﾞ」のほうが馴染み深くなってきたようです。<br />
  1941年、ﾊﾝｽ･ｱｳｸﾞｽﾄとﾏｰｶﾞﾚｯﾄのﾚｲ夫妻は「おさるのｼﾞｮｰｼﾞ」を世に送り出しました。元気で愉快な子ざるの物語は、その後現在に至るまで、国や世代を超えた多くの読者に親しまれ続けています。<br />
  <br />
  <span style="color:#6699FF;">・ﾁｪﾌﾞﾗｰｼｶ</span><br />
  正体不明の可愛い動物ﾁｪﾌﾞﾗｰｼｶが、ﾜﾆのｹﾞｰﾅやたくさんの仲間たちと繰り広げる、ﾛｼｱからのおくりもの、だきしめたくなる ものがたり<br />
  ｢ﾁｪﾌﾞﾗｰｼｶ｣<br />
</div>
<br />
<br />
<div style="background-color:#FFFFFF; color:#000000; text-align:center">
<span style="color:#FF9933;">････････････････</span><br />
<%= link_to_mobile '(C)K&BｽﾀｲﾙTOPへ戻る', { :controller=>'portal', :action=>'show' }, :accesskey => "0" %>
</div>

