<div style="color:#0000ff;text-align:cetner;">★・・・・・・・・★</div><br />
<div style="text-align:center;"無料ﾏｲﾒﾆｭｰ登録・削除</div><br />
<div style="color:#0000ff;text-align:cetner;">★・・・・・・・・★</div><br />

<hr />

<p>
マイメニュー登録サービスは無料です。
</p>
<p>
登録を行う場合は、こちらです。
</p>
<form method="get" action="http://w1m.docomo.ne.jp/cp/regst">
<div style="text-align:center;">
<% shop = Shop.first %>
<%= hidden_field_tag 'ci', shop.docomo_site_id %>
<%= hidden_field_tag 'uid', 'NULLGWDOCOMO' %>
<%= hidden_field_tag 'nl', h(url_for(:controller=>'portal', :action=>'show', :only_path=>false)) %>
<%= hidden_field_tag 'rl', '' %>
<%= hidden_field_tag 'act', 'reg' %>
<%= submit_tag '登録' %>
</div>
</form>

<hr />

登録を解除する場合は、こちらです。

<form method="get" action="http://w1m.docomo.ne.jp/cp/regst">
<div style="text-align:center;">
<%= hidden_field_tag 'ci', shop.docomo_site_id %>
<%= hidden_field_tag 'uid', 'NULLGWDOCOMO' %>
<%= hidden_field_tag 'nl', '' %>
<%= hidden_field_tag 'rl', '' %>
<%= hidden_field_tag 'act', 'rel' %>
<%= submit_tag '解除' %>
</div>
</form>


→<%= link_to '戻る', :controller => 'portal', :action => 'show' %><br /><br />

<hr />

<%= link_to '0 TOPへ戻る', :controller => 'portal', :action => 'show' %>
