<?xml version="1.0" encoding="Shift_JIS" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">


<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<%= stylesheet_link_tag "mobile" %>

<% unless @seo.blank? %>
<meta name="author" content="<%= @seo.author %>" />
<meta name="description" content="<%= @seo.description %>" />
<meta name="keywords" content="<%= @seo.keywords %>" />
<% end %>
</head>

<body bgcolor="#ffffff" link="#990066" vlink="#990066"
style="font-size:small; background-color:#ffffff; color:#000000; margin:0 auto; padding:0; align:center; text-align:center;">

<div style="margin:0 auto; padding:0; text-align:left; align:left;" id="wrapper"><a name="top" id="body"></a>

<!--タイトル-->
<div style="text-align:center;"><a id="top"><%= image_tag_mobile "logo", :alt => "", :width => "100%", :height => "50" %></a></div>
<div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<div style="text-align:center; color:#96704B; background-color:#fafabe;">
  <div style="background-color:#fafabe;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<div style="display:-wap-marquee; -wap-marquee-loop: infinite;">ｵｼｬﾚな女性のためのお手軽通販ｻｲﾄ</div>
<div style="background-color:#fafabe;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
</div>

<!--ログイン・新規会員登録-->
<div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
<% unless @login_customer %>
<div style="text-align:center; color:#FF9775">【 <span style="color:#CD2525;">&#xE6D9;</span> <%= link_to 'ﾛｸﾞｲﾝ', {:controller => 'accounts', :action => 'login'}  %> 】</div>
<div style="text-align:center; color:#FF9775">【 <span style="color:#E9C107;">&#xE6FA;</span> <%= link_to '新規会員登録', {:controller => 'accounts', :action => 'kiyaku_intro'}  %> 】</div>
<% end %>
<div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "3" %><br /></div>
<div style="text-align:center;"><a href="#reco">おすすめｱｲﾃﾑ</a><span style="color:#CD2525;">│</span><a href="#item">ｱｲﾃﾑから探す</a></div>
<div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "3" %><br /></div>

<!-- お知らせ -->
<% unless @new_informations.blank? -%>
<div style="background-color:#F3F3EC;">
  <div><%= image_tag_mobile "title_gray", :width => "100%", :height => "10", :alt =>"" %></div>
<span style="color:#CD2525;">&#xE6DD;</span> <span style="color:#5F4347;">お知らせ</span>
<div style="text-align:center;"><%= image_tag_mobile "border", :width => "226", :height => "2", :alt => "", :style => "margin-top:4px; margin-bottom:2px;" %></div>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>

<% @new_informations.each do |new_information| -%>
  <div><span style="color:#FF9775;">◆</span><%=h new_information.name %></div>
<% end -%>

<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "6" %><br /></div>
<div style="background-color:#998A83;"><%= image_tag_mobile "spacer", :width => "100%", :height => "1" %><br /></div>
</div>
<div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "6" %><br /></div>
<% end -%>

<!-- フリースペース -->
<%- free_space_header = Design.first.try(:mobile1).to_s -%>
<%= render :inline => free_space_header if free_space_header.present? %>

<!-- おすすめｱｲﾃﾑ -->
<%= render :partial => '/base/recommend_product_mobile' %>

<!-- ランキング -->
<%= render :partial => '/base/recommend_ranking_mobile' %>

<!-- ｱｲﾃﾑから探す -->
<%= render :partial => '/base/category' %>

<div style="text-align:right;"><a href="#top">↑Page top</a></div>
<div style="background-color:#ffffff;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>

<!-- 検索 -->
<div style="text-align:center; color:#96704B; background-color:#fafabe;">
  <div style="background-color:#fafabe;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
  <% form_tag( {:controller => "products", :action => "search", :model => @model_name, :only_path=>false}, {:method => "get"}) do %>
    <span style="color:#666666">&#xE6DC;</span><%= text_field_tag "search", {}, {:size => "15", :maxlength => "20", :style => "width:100px; height:20px;"} %>
    <%= submit_tag "検索" %>
  <% end %>
  <div style="background-color:#fafabe;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
</div>

<div style="background-color:#F3F3EC;">
  <div style="background-color:#C6C6BA;"><%= image_tag_mobile "spacer", :width => "1", :height => "1" %><br /></div>

<%= render :partial => "footer" %>

<div style="background-color:#F3F3EC; text-align:center; color:#666666;" id="copy_box">
  <div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
<span id="copy">2009 K&amp;B style</span>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
</div>
</div>

</div>
<!-- ▲ﾌｯﾀｰ ここまで --><!--▲MAIN-->

</body>
</html>
