<div class="sectionHeader">特定商取引に関する法律に基づく表記</div>

<%- if false %>
<%# FIXME 当サイトについてみたいなロゴがあると幸せです　%>
<%= image_tag '/images/shop/about.gif', :size => "583x31", :alt => "当サイトについて", :class => "route" %> 
<%- end %>
<%unless @law.blank?%>  
  <table class="tb2">
    <tr><td>販売業者</td></tr>
    <tr>
      <td><%=h @law.try(:company) %></td>
    </tr>
    <tr><td>運営責任者</td></tr>
    <tr>
      <td><%=h @law.try(:manager) %></td>
    </tr>
    <tr><td>住所</td></tr>
    <tr>
      <td>
        〒<%=h @law.try(:zipcode) %><br/>
        <%=h @law.try(:address) %>
      </td>
    </tr>
    <tr><td>電話番号</td></tr>
    <tr>    
      <td><%=h @law.tel %></td>
    </tr>
    <tr><td>FAX番号</td></tr>
    <tr>
      <td><%=h @law.fax %></td>
    </tr>
    <tr><td>メールアドレス</td></tr>
    <tr>
      <td><%=h @law.email %></td>
    </tr>
    <tr><td>URL</td></tr>
    <tr>
      <td><%=h @law.url %></td>
    </tr>
    <%- unless @law.html? %>
      <tr><td>商品以外の必要代金</td></tr>
      <tr>
        <td><%=h_br @law.necessary_charge %></td>
      </tr>
      <tr><td>注文方法</td></tr>
      <tr>
        <td><%=h_br @law.order_method %></td>
      </tr>
      <tr><td>支払方法</td></tr>
      <tr>
        <td><%=h_br @law.payment_method %></td>
      </tr>
      <tr><td>支払期限</td></tr>
      <tr>
        <td><%=h_br @law.payment_time_limit %></td>
      </tr>
      <tr><td>引渡し時期</td></tr>
      <tr>
        <td><%=h_br @law.delivery_time %></td>
      </tr>
      <tr><td>返品・交換について</td></tr>
      <tr>
        <td><%=h_br @law.return_exchange %></td>
      </tr>
    <% end %>
  </table>
  <%- if @law.html? %>
    <h3 class="tb_t">商品以外の必要代金</h3>
    <div class="law_info">
      <%= render :inline => @law.necessary_charge %>
    </div>
    <h3 class="tb_t">注文方法</h3>
    <div class="law_info">
      <%= render :inline => @law.order_method %>
    </div>
    <h3 class="tb_t">支払方法</h3>
    <div class="law_info">
      <%= render :inline => @law.payment_method %>
    </div>
    <h3 class="tb_t">支払期限</h3>
    <div class="law_info">
      <%= render :inline => @law.payment_time_limit %>
    </div>
    <h3 class="tb_t">引渡し時期</h3>
    <div class="law_info">
      <%= render :inline => @law.delivery_time %>
    </div>
    <h3 class="tb_t">返品・交換について</h3>
    <div class="law_info">
      <%= render :inline => @law.return_exchange %>
    </div>
  <% end %>
<%end%>
