<div style="text-align:center;"><h4>通信販売について</h4></div>

<hr noshade="noshade" color="ORANGE"/>

■販売業者<br />
<%=h @law.company %><br /><br />

■運営責任者<br />
<%=h @law.manager %><br /><br />

■住所<br />
〒<%=h @law.zipcode01 %>-<%=h @law.zipcode02 %><br />
<%=h @law.prefecture.name %><%=h @law.address_city %><%=h @law.address_detail %><br /><br />

■電話番号<br />
<%=h @law.tel01 %>-<%=h @law.tel02 %>-<%=h @law.tel03%><br /><br />

■FAX番号<br />
<%=h @law.fax01 %>-<%=h @law.fax02 %>-<%=h @law.fax03%><br /><br />

■メールアドレス<br />
<%=h @law.email %><br /><br />

■URL<br />
<%=h @law.url %><br /><br />

■商品以外の必要代金<br />
<%=h_br @law.necessary_charge %><br /><br />

■注文方法<br />
<%=h_br @law.order_method %><br /><br />

■支払方法<br />
<%=h_br @law.payment_method %><br /><br />

■支払期限<br />
<%=h_br @law.payment_time_limit %><br /><br />

■引渡し時期<br />
<%=h_br @law.delivery_time %><br /><br />

■返品・交換について<br />
<%=h_br @law.return_exchange %><br /><br />

→<%= link_to '戻る', {:controller => 'portal', :action => 'show'} %><br />

<hr noshade="noshade" color="ORANGE"/>
<%= link_to 'TOPページへ', {:controller => 'portal', :action => 'show'} %><br />
