<fieldset>
お名前※ 姓<%= h(@address.first_name) %><%= hidden_field(:address, :first_name) %> 名<%= h(@address.last_name) %><%= hidden_field(:address, :last_name) %><br />
お名前（フリガナ）※ セイ<%= h(@address.first_name_kana) %><%= hidden_field(:address, :first_name_kana) %> メイ<%= h(@address.last_name_kana) %><%= hidden_field(:address, :last_name_kana) %><br />
郵便番号※ 〒<%= h(@address.zipcode_first) %><%= hidden_field(:address, :zipcode_first) %> - <%= h(@address.zipcode_second) %><%= hidden_field(:address, :zipcode_second) %><br />
住所<%= select_tag('address[prefecture_id]', "<option value=\"#{@address.prefecture_id}\" selected=\"selected\">#{@address.prefecture.name}</option>") %><br />
<%= h(@address.address_city) %><%= hidden_field(:address, :address_city) %><br />
市区町村名（例：千代田区神田神保町）<br />
<%= h(@address.address_detail) %><%= hidden_field(:address, :address_detail) %><br />
番地・ビル名（例：1-3-5）<br />
住所は２つに分けてご記入いただけます。マンション名は必ず記入してください。
電話番号※ <%= h(@address.tel01) %><%= hidden_field(:address, :tel01) %> - <%= h(@address.tel02) %><%= hidden_field(:address, :tel02) %> - <%= h(@address.tel03) %><%= hidden_field(:address, :tel03) %>
</fieldset>