<head>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag js_url(:action => "application") %>
</head>
<body>
<h1>EC</h1>
<div id="address_create_confirm">
  <div id="caption">
    <%= image_tag('user/dummy.jpg', {:alt => '新しいお届け先の追加・変更'}) %>
    下記の内容でお届け先を追加します。<br />
    内容に誤りがなければ、一番下の「登録する」ボタンをクリックしてください。
  </div>
  <noscript>
    <p>JavaScriptが利用できない状態です。<br />一部のコンテンツが正常に動作しない可能性があります</p>
  </noscript>
  <div id="notice"><%= flash[:notice] %></div>
  <div id="address_form">
    <% form_tag({:action => 'address_create'}, {:name => 'form1'}) do %>
      <%= render :partial => 'address_confirm' %>
      <%= hidden_address_customer_id %>
      <%= link_to_function(image_tag('user/dummy.jpg', {:alt => 'キャンセル'}), "window.close()", {:tabindex => 3}) %>
      <%= link_to(image_tag('user/dummy.jpg', {:alt => '修正する'}), {:action => 'address_new', :address => @address.attributes}, {:method => :post, :tabindex => 2}) %>
      <%= image_submit_tag('user/dummy.jpg', {:tabindex => 1, :alt => '登録する'}) %>
    <% end %>
  </div>
</div>
</body>
