<head>
  <%= stylesheet_link_tag "front/user/user" %>
  <%= stylesheet_link_tag "front/user/address_list" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag js_url(:action => "application") %>
  <%= popup_for_delivery_address_script %>
</head>
<body>
<div id="address_list">
  <h2>Myページ</h2>
  <noscript>
    <p>JavaScriptが利用できない状態です。<br />一部のコンテンツが正常に動作しない可能性があります</p>
  </noscript>
  <div id="notice"><%= flash[:notice] %></div>
  <div id="navigation">
    <%= render :partial => 'navigation' %>
  </div>
  <div id="info_area">
      <h3>お届け先変更</h3>
      登録住所以外へのご住所へ送付される場合等にご利用いただくことができます。<br />
      ※最大20件まで登録できます。<br />
      <%= link_to_create_address %>
      <div id="address_list">
        <%= render :partial => 'address_list' %>
      </div>
  </div>
</div>

</body>
