<head>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<h1>EC</h1>
<div id="address_edit">
  <div id="caption">
    <%= image_tag('user/dummy.jpg', {:alt => '新しいお届け先の追加・変更'}) %>
    下記項目にご入力ください。「※」印は入力必須項目です。<br />
    入力後、一番下の「登録する」ボタンをクリックしてください。
  </div>
  <noscript>
    <p>JavaScriptが利用できない状態です。<br />一部のコンテンツが正常に動作しない可能性があります</p>
  </noscript>
  <div id="errors"><%= error_messages_for 'address' if @address%></div>
  <div id="address_form">
    <% form_tag({:action => 'address_update'}, {:name => 'form1'}) do %>
      <%= render :partial => 'address_form' %>
      <%= hidden_field_tag('address[id]', params[:id]) %>
      <%= image_submit_tag('user/dummy.jpg', {:alt => '登録する', :tabindex => 14}) %>
    <% end %>
  </div>
</div>
</body>
