<h3>在庫調整</h3>
<table class="data" cellspacing="1">  
  <tr>
    <th>実在庫数</th>
    <td><%= number_with_delimiter(@product_style.actual_count.to_i) %></td>
    <th>実在庫調整数</th>
    <td><%= f.text_field :actual_adjustment, {:class=>"data_s",:style=>"ime-mode:inactive"} %></td>	
  </tr>
  <tr>
    <th>販売可能数</th>
    <td><%= number_with_delimiter(@product_style.orderable_count.to_i) %></td>
    <th>販売可能調整数</th>
    <td><%= f.text_field :orderable_adjustment, {:class=>"data_s",:style=>"ime-mode:inactive"} %></td>	
  </tr>
  <tr>
    <th>不良在庫数</th>
    <td><%= number_with_delimiter(@product_style.broken_count.to_i) %></td>
    <th>不良在庫調整数</th>
    <td><%= f.text_field :broken_adjustment, {:class=>"data_s",:style=>"ime-mode:inactive"} %></td>	
  </tr>    
  <tr>
    <th>備考<span class="pnt">※</span></th>
    <td colspan="3">
      <%= f.text_area :comment,{:size=>"60x10",:style=>"ime-mode:active" }%>
    </td>
  </tr>
</table>
