<% content_for :head do -%>
<script type="text/javascript">
	window.onload = function init() {
		document.getElementById("shop").style.display = 'none';
	}
</script>
<% end -%>
<div id="sub"><!-- サブメニュー -->
  <div id="menu" class="clearfix"><!-- g_menu -->
    <p><a href="JavaScript:onClick=Tree('display1');ImgC('img1');"><%= image_tag("menu_icon.gif", :width => "36", :height => "36", :alt => "", :id => "img1") %><span>基本情報管理</span></a></p>
    <ul id="display1" style="display:block">
      <% if session[:admin_user].master_shop? %>
        <li><%= link_to 'SHOPマスタ', {:controller => 'shops', :action => 'index'} %></li>
        <li><%= link_to '特定商取引法', {:controller => 'laws', :action => 'index'} %></li>
      <% end %>
      <% unless session[:admin_user].master_shop? %>
        <li><%= link_to '販売元管理', {:controller => 'retailers', :action => 'edit', :id => session[:admin_user].retailer_id} %></li>
      <% end %>
      <li><%= link_to '配送設定', {:controller => 'shops', :action => 'delivery_index'} %></li>
      <% if session[:admin_user].master_shop? %>
        <li><%= link_to 'ポイント付与設定', {:controller => 'shops', :action => 'point_index'} %></li>
        <li><%= link_to '支払方法設定', {:controller => 'shops', :action => 'payment_index'} %></li>
        <li><%= link_to 'メール設定', {:controller => 'shops', :action => 'mail_index'} %></li>
        <li><%= link_to 'SEO管理設定', {:controller => 'shops', :action => 'seo_index'} %></li>
        <li><%= link_to '会員規約設定', {:controller => 'shops', :action => 'kiyaku_index'} %></li>
        <li><%= link_to 'プライバシーポリシー設定', {:controller => 'shops', :action => 'privacy'} %></li>
      <% end %>
    </ul>

    <% if session[:admin_user].master_shop? %>
      <p><a href="JavaScript:onClick=Tree('display2');ImgC('img2');"><%= image_tag("menu_icon.gif", :width => "36", :height => "36", :alt => "", :id => "img2") %><span>コンテンツ管理</span></a></p>
      <ul id="display2" style="display:block">
        <li><%= link_to '新着情報管理', {:controller => 'new_informations', :action => 'index'} %></li>
        <li><%= link_to 'オススメ商品管理', {:controller => 'recommend_products', :action => 'index'} %></li>
        <li><%= link_to 'アンケート管理', {:controller => 'questionnaires', :action => 'index'} %></li>
        <li><%= link_to 'キャンペーン管理', {:controller => 'campaigns', :action => 'index'} %></li>
        <li><%= link_to '特集管理', {:controller => 'features', :action => 'index'} %></li>
      </ul>
    <% end %>

    <% if session[:admin_user].master_shop? %>
      <p><a href="JavaScript:onClick=Tree('display3');ImgC('img3');"><%= image_tag("menu_icon.gif", :width => "36", :height => "36", :alt => "", :id => "img3") %><span>デザイン管理</span></a></p>
      <ul id="display3" style="display:block">
        <li><%= link_to 'PCフリースペース編集', {:controller => 'designs', :action => 'pc'} %></li>
        <li><%= link_to '携帯フリースペース編集', {:controller => 'designs', :action => 'mobile'} %></li>
      </ul>
    <% end %>

    <% if session[:admin_user].master_shop? %>
      <p><a href="JavaScript:onClick=Tree('display4');ImgC('img4');"><%= image_tag("menu_icon.gif", :width => "36", :height => "36", :alt => "", :id => "img4") %><span>システム管理</span></a></p>
      <ul id="display4" style="display:block">
        <li><%= link_to '販売元管理', {:controller => 'retailers', :action => 'index'} %></li>
        <li><%= link_to 'メンバー管理', {:controller => 'admin_users', :action => 'index'} %></li>
        <li><%= link_to '管理者権限管理', {:controller => 'authorities', :action => 'index'} %></li>
        <li><%= link_to '環境設定', {:controller => 'shops', :action => 'settings'} %></li>
	<li><%= link_to 'プラグイン設定', {:controller => 'plugins', :action => 'index'} %></li>
      </ul>
    <% end %>
  </div><!-- /g_menu -->
</div><!-- /sサブメニュー -->

