<% form_for [:admin, @category], :html => {:multipart => true} do |f| %>
  <table class="data" cellspacing="1">
    <tr>
      <th>カテゴリ名</th>
      <td><%= f.text_field :name, :class=>"data_m" %></td>
    </tr>
      <th>カテゴリ画像</th>
      <td><%= image_field :category, :resource %></td>
    </tr>
    <tr>
      <th>メニュー画像</th>
      <td><%= image_field :category, :menu_resource %></td>
    </tr>
    <tr>
      <th>フリースペース</th>
      <td><%= f.text_area :free_space, :size=>"60x10" %></td>
    </tr>
  </table>
  <div class="btn_box space20_bottom">
    <% @category.parent_id =params[:category_id] && params[:category_id].to_i %>
    <%= f.hidden_field :parent_id %>
    <%= hidden_field_tag :id, @category.id %>
    <%= f.submit "この内容で登録", :confirm => "この内容で登録して宜しいですか？", :class=>"btn" %>
    <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
  </div>
<% end %>
