<%= javascript_include_tag 'admin/feature_products' %>

<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>特集管理</h2>

<%= flash[:notice] %>
<%= flash[:error] %>
<%= error_messages_for :feature_product %>

<% form_for [:admin, @feature_product], :url => {:action => 'confirm',:id =>@feature_product} ,:html => {:multipart => true} do |f| %>
<h3>商品編集</h3>
<%= render :partial => "form" %>
<%= f.hidden_field :image_resource_id %>
<%= f.hidden_field :feature_id %>
<%= f.hidden_field :product_id %>
<div class="btn_box">
  <%= submit_tag '確認する', :class => "btn"%><img width="6" height="34" class="btn_side" alt="" src="/images/btn_side.gif"/>
</div>
<% end %>
</div><!-- /メイン -->
