<% content_for :head do %>
<%= stylesheet_link_tag "front/campaign/campaign" %>
<% end %>

<div style="text-align:center;">
  <h4><%= (@campaign ? h(@campaign.name) : "キャンペーン") %></h4>
</div>
<hr />
<p>
<%= flash[:notice] %>
<%= flash[:error] %>
</p>
<% if @campaign %>
  <p>
    <%= @free_spaces[@free_space_names[0]] %>
  </p>
  <% if !@campaign.product_id.blank? && @status == "open" %>
  <span style="color: #cd2525;">◆</span>
  <span style="color: #5f4347;"><%= @product.name %></span><br />
  <p style="text-align:center;"><%= product_image_tag(@campaign.product,:small) %></p>
  <%= @product.name %>
  <p style="text-align:right;">価格:<%= @product.price_label %>円</p>

  <p><%= h_br @product.medium_resource_comment unless @product.medium_resource_comment.blank? %><br />
  </p>
    <p style="text-align:center;">
      <%= render :partial  => "base/add_cart_mobile", :locals => {:product => @campaign.product, :campaign_id => @campaign.id} %>
    </p>
    <p>
    <% if @campaign.repeat_application %>
当キャンペーンはお一人様につき１回のみご応募いただくことが出来ます。<br/>
追加のご購入は可能ですが、ご応募についてはお一人様１回のみの扱いとなりますので、予めご了承ください。
    <% end %>
    </p>
  <% else %>
    <p><%= @free_spaces[@free_space_names[2]] %></p>
  <% end %>
  <p style="text-align:center;">
    <% if @campaign.available? && @status == "open" && @campaign.product_id.blank? %>
      <% if @admin_preview %>
        <input type="button" value="応募する" /><br/>
      <% else %>
        <% form_tag({:action=>'complete', :id=>@campaign.id}, {:style=>"text-align:center;"}) do %>
          <%= submit_tag "応募する" %>
        <% end %>
      <% end %>
      <% if @campaign.repeat_application %>
当キャンペーンはお一人様につき１回のみご応募いただくことが出来ます。<br/>
重複してご応募いただくことは出来ませんので、予めご了承ください。
      <% end %>
    <% end %>
  </p>

  <% if !@campaign.product_id.blank? && @status == "open" %>
    <% unless @product.size_txt.blank? && @product.material.blank? && @product.origin_country.blank?&& @product.weight.blank?&& @product.arrival_date.blank?&& @product.other.blank?%>
      ■仕様<br />
        <%= ("[サイズ]<br />" + @product.size_txt + "<br />" ) unless @product.size_txt.blank? %>
        <%= ("[素材]<br />" + @product.material + "<br />" ) unless @product.material.blank? %>
        <%= ("[原産国]<br />" + @product.origin_country + "<br />" ) unless @product.origin_country.blank? %>
        <%= ("[重さ]<br />" + @product.weight + "<br />" ) unless @product.weight.blank? %>
        <%= ("[その他]<br />" + @product.other + "<br />" ) unless @product.other.blank? %>
    <% end %>
  <% end %>

  <p>
    <%= @free_spaces[@free_space_names[1]] %>
  </p>
<% end %>

<hr />
<%= link_to_mobile 'カゴを見る', {:controller => 'cart', :action => 'show'}, :accesskey => "9" %><br />
<%= link_to_mobile 'TOPページへ', {:controller=>'/'}, :accesskey => "0" %><br />

