<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "front/portal" %>
  <%= javascript_include_tag js_url(:action => "application") %>
<% end %>

  <ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => 'portal', :action => 'show' %></li><li>お問い合わせ</li></ol>

  <h2 class="main_t">お問い合わせ</h2>
  <p class="notice">※は必ずご入力ください。パスワードは商品購入時に必要となります。</p><br/>
  <table class="tb2"> 
    <tr>
      <th width="130">お名前<span class="must">※</span></th>
      <td><%=h @inquiry.name %></td>
    </tr>
    <tr>
      <th>メールアドレス<span class="must">※</span></th>
      <td><%=h @inquiry.email %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%=h @inquiry.tel %></td>
    </tr> 
    <tr>
      <th>受注番号</th>
      <td><%=h @inquiry.order_number %></td>
    </tr>
    <tr>
      <th>お問合わせ種別<span class="must">※</span></th>
      <td><%=h Inquiry::KIND_NAMES[@inquiry.kind] %></td>
    </tr>
    <tr>
      <th>お問い合わせ内容<span class="must">※</span></th>
      <td><%=h_br @inquiry.body %></td>
    </tr>
  </table>
  <% form_for :inquiry, :url => {:action => "complete"} do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :tel %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :body %>
    <%= f.hidden_field :order_number %>
    <%= f.hidden_field :kind %>
    <%= image_submit_tag '/images/common/btn02.gif', {:onclick => "this.form.action='/inquiries/new'; this.form.submit();",:alt=>'戻る', :class=>'hoverImg'} %>
	<%= image_submit_tag("/images/common/btn03.gif", :alt=>"送信", :class=>"hoverImg") %>
  <% end %>


