<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "front/portal" %>
  <%= javascript_include_tag js_url(:action => "application") %>
<% end %>

<div id="container" class="clearfix">
  <ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => 'portal', :action => 'show' %></li><li>お問い合わせ</li></ol>
  <h2 class="main_t">お問い合わせ</h2>
  <p class="notice"><span class="must">※</span>は必ずご入力ください。</p><br/>

  <%= @inquiry && error_messages_for(:inquiry) %>
  <%= flash[:notice] %>
  <%= flash[:error] %>
  <% form_for :inquiry, :url => {:action => "confirm"} do |f| %>
    <table class="tb2">
      <tr>
        <th width="145">お名前<span class="must">※</span></th>
        <td><%= f.text_field :name, :size => 30 %>
      </tr>
      <tr>
        <th>メールアドレス <span class="must">※</span></th>
        <td><%= f.text_field :email, :size => 50 %>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= f.text_field :tel, :size => 20 %></td>
      </tr>
      <tr>
        <th>注文番号</th>
        <td><%= f.text_field :order_number, :size => 30 %></td>
      </tr>
      <tr>
        <th>お問合わせ種別 <span class="must">※</span></th>
        <td><%= f.select :kind, Inquiry.pc_kind_list %></td>
      </tr>
      <tr>
        <th>お問い合わせ内容 <span class="must">※</span></th>
        <td><%= f.text_area :body, :cols => 50, :rows => 15 %>
        </tr>
      </table>
      <div class=confirm>
	        内容をご確認の上、送信ボタンを押してください。<br />
	        ページが表示されるまでにお時間がかかる場合がございます。<br />
	        処理をしている間に「送信」を再度クリックすると二重送信になりますので、<br />
	        送信ボタンは1度だけ押してください。<br />
	   <br />
	        お問合せ内容により回答までにお時間がかかる場合がございます｡予めご了承ください。<br />
	        受付対応時間は平日(年末年始をのぞく)の10:00～18:00までとさせていただきます｡
	   <br />
      </div>
	  <br />
	  <div class="my_btn">
	  	<%= image_submit_tag("/images/common/btn01.gif", :width=>"101", :height=>"28", :alt=>"確認", :class=>"hoverImg") %>
	  </div>
  <% end -%>
  <!-- /container -->
</div>
