
    <table class="data" cellspacing="1">
      <tr>
        <th>仕入先ID</th>
        <td><%= f.text_field :supplier_id,{:class=>"data_m",:style=>"ime-mode:inactive"}%></td>
      </tr>      
	  <tr>
        <th>仕入先名</th>
        <td><%= f.text_field :name,{:class=>"data_m",:style=>"ime-mode:active"}%></td>
      </tr>
      <tr>
        <th>担当者名</th>
        <td><%= f.text_field :contact_name, {:class=>"data_m",:style=>"ime-mode:active"}%></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= f.text_field :tel_no, {:class=>"data_m",:style=>"ime-mode:inactive"} %></td>
      </tr>
      <tr>
        <th>ファックス</th>
        <td><%= f.text_field :fax_no, {:class=>"data_m",:style=>"ime-mode:inactive"} %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.text_field :email, {:class=>"data_m",:style=>"ime-mode:inactive"} %></td>
      </tr>
      <tr>
       <td class="submit" colspan="4">
      検索結果表示件数
        <%= select_tag "condition[per_page]", options_for_select((10..100).step(10).map(&:to_s)) %>
        件
        <%= submit_tag "この条件で検索する", :class=>"btn_s" %></td>
      </tr>
    </table>
