<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>仕入先マスタ管理</h2>
<%=h flash[:notice] %>
<%=h flash[:error] %>
<% form_for :condition, :url => {:action => 'search'}, :html => {:method => :get} do |f| %>
  <%= render :partial => "search", :locals=>{:f => f}%>
<% end %>
<br />

<p>&gt;&gt;検索結果一覧&nbsp;<%=@suppliers.total_entries %>件&nbsp;が該当しました。</p><br/>
<span class="pnt">※ID=1のデータはデフォルトデータとして編集、削除不可です。</span><br/>
<span class="pnt">※商品を持っている仕入先は削除できません。</span><br/>
  <table class="data2 clear" cellspacing="1">
    <tr>
      <th>仕入先ID</th>
      <th>仕入先名</th>
      <th>担当者名</th>
      <th>電話番号</th>
      <th>ファックス</th>
      <th>e-mail</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
<%unless @suppliers.blank?%>	
    <% @suppliers.each do | supplier | %>
      <tr>
        <td><%= h supplier.id %></td>
        <td><%= h supplier.name %></td>
        <td><%= h supplier.contact_name %></td>
        <td><%= h supplier.tel %></td>
        <td><%= h supplier.fax %></td>
        <td><%= h supplier.email %></td>
        <td class="t_center">
          <% if supplier.id != Supplier::DEFAULT_SUPPLIER_ID%>
		    <%= link_to "編集", :action=>"edit" ,:id=>supplier.id %>
		  <% end%>
        </td>
        <td class="t_center">
          <% if supplier.id != Supplier::DEFAULT_SUPPLIER_ID && supplier.products.blank?%>	
			<%= link_to "削除", :action=>"destroy" ,:id=>supplier.id %>
		  <% end%>	
        </td>
      </tr>
    <% end %>
<%end%>
</table>
<%= will_paginate @suppliers %>
<br/>
<div class="t_center btn_t">
<input type="button" class="btn_s" value="新規登録" onclick="location.href = '/admin/suppliers/new'">
</div>
</div><!-- /メイン -->
