<%= stylesheet_link_tag "front/product/review" %>


<h2><%= @product.name %></h2>

以下の商品について、お客様のご意見、ご感想をどしどしお寄せください。
「※」印は入力必須項目です。
ご入力後、一番下の「確認ページへ」ボタンをクリックしてください。

<%= error_messages_for :review %>
<% form_tag :action => "review_confirm", :id => @product.id do %>
  <%= render :partial => 'form' %>
<div id="submit">
  <%= submit_tag "登録する" %>
</div>
</div>
<% end %>

