<!-- 商品詳細 -->
<%= render :partial => "base/title", :locals => {:title => @product.url.blank? ? h( @product.name ) : link_to(@product.name, @product.url)} %>

<div style="text-align:center;"><%= product_image_tag(@product, :medium, {:width=>"220",:height=>"220",:style=>"margin:2px; border:1px solid #6666666;"}) %></div>
<%= h_br @product.medium_resource_comment unless @product.medium_resource_comment.blank? %><br />

<% if @product.product_styles && @product.product_styles.detect(nil){ |p_s| p_s.orderable_count.to_i > 0} -%>
  お届け:<%= @product.delivery_dates_label %>
<% else %>
  <% if @product.arrival_expected_date && @product.arrival_expected_date < Date.today %>
    入荷未定
  <% else %>
    入荷予定日:<%= date_jp(@product.arrival_expected_date) %>
  <% end %>
<% end %>
<br />
販売元: <%= show_retailer_shop(@product) %><br />
<div style="text-align:right;">&yen; <%= @product.price_label %></div>

<% @product.sub_products.each do | sub_product | %>
  <% unless sub_product.name.blank? %>
    <div class="sub_products">
      <div class="sub_product">
        <table cellspacing="0" style="font-size:xx-small;">
          <tr>
            <td class="sub_comment">
              <%= sub_product.name %><br />
              <%= sub_product.description %>
            </td>
            <td class="sub_image">
              <%= link_to "■", { :action => "show_image", :resource_id => (sub_product.large_resource_id || sub_product.medium_resource_id ),:product_id => sub_product.product_id }  if sub_product.medium_resource_id%>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>

<% if @product.is_set? %>
  <%- if @product.have_set_zaiko? -%>
    <%= render :partial => "base/add_cart", :locals => {:product => @product} %>
  <%- else -%>
    <div class="leftMargin">品切れ中</div>
  <%- end -%>
<% else %>
  <%- if @product.have_zaiko? -%>
    <%= render :partial => "base/add_cart", :locals => {:product => @product} %>
    <%- have_style = @product.product_styles.any?(&:style_category1) -%>
    <%- if have_style -%>
      <div>
        <div class="centerCart">
          <div id="stock_table" >
            <%= render :partial => 'stock_table' %>
          </div>
        </div>
      </div>
    <%- end -%>
  <%- else -%>
    <div class="leftMargin">品切れ中</div>
  <%- end -%>
<% end %>


<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<div id="details_comments"><%=h_br @product.description %></div>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>

<!-- 仕様 -->
<% unless @product.size_txt.blank? && @product.material.blank? && @product.origin_country.blank?&& @product.weight.blank?&& @product.arrival_date.blank?&& @product.other.blank?%>
<div style="clear:both; background-color:#F3F3EC; text-align:center;"><%= image_tag_mobile "border", :width => "226", :height => "2" %><br /></div>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
        <%= ("サイズ:" + @product.size_txt + "<br />" ) unless @product.size_txt.blank? %>
        <%= ("素材:" + @product.material + "<br />" ) unless @product.material.blank? %>
        <%= ("原産国:" + @product.origin_country + "<br />" ) unless @product.origin_country.blank? %>
        <%= ("重さ:" + @product.weight + "<br />" ) unless @product.weight.blank? %>
        <%= ("その他、仕様:" + @product.other + "<br />" ) unless @product.other.blank? %>
<% end %>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<div style="background-color:#998A83;"><%= image_tag_mobile "spacer", :width => "100%", :height => "1" %><br /></div>

<!-- ﾚｺﾒﾝﾀﾞｰ -->
<%= render :partial => '/base/recommend_asp' %>

<!-- ｱｲﾃﾑから探す -->
<%= render :partial => '/base/category' %>

<!-- 検索 -->
<div style="text-align:center; color:#96704B; background-color:#fafabe;">
  <div style="background-color:#fafabe;"><%= image_tag_mobile "spacer", :width => "1", :height => "4" %><br /></div>
  <% form_tag( {:controller => "products", :action => "search", :model => @model_name, :only_path=>false}, {:method => "get"}) do %>
    <span style="color:#666666">&#xE6DC;</span><%= text_field_tag "search", nil, {:size => "15", :maxlength => "20", :style => "width:100px; height:20px;"} %>
    <%= submit_tag "検索" %>
  <% end %>
  <div style="background-color:#fafabe;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
</div>

