<%= javascript_include_tag 'admin/recommend_product' %>

<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>オススメ管理</h2>
<br />
<div class="btn_t">
  <%= button_to '新規登録', new_admin_recommend_product_path ,:class =>"btn_s"%>
</div>
<br />
<%=h flash[:notice] %>
<%=h flash[:error] %>

<table class="data2" cellspacing="1">
  <tr>
    <th>No</th>
    <th>画像</th>
    <th>商品名</th>
    <th>オススメコメント</th>
    <th>編集/削除</th>
  </tr>
  <% @recommend_products.each do |recommend_product| %>
    <% if recommend_product.product_order_unit.ps.product %>
      <tr>
        <td class="t_center"><%=h recommend_product.id %></td>
        <td class="t_center"><%= product_image_tag(recommend_product.product_order_unit.ps.product, :small) %></td>
        <td class="t_center"><%=h recommend_product.product_order_unit.ps.product.name %></td>
        <td><%=h_br recommend_product.description %></td>
        <td class="t_center">
          <%= link_to "編集", edit_admin_recommend_product_path(recommend_product.id) %>/
          <%= link_to "削除", admin_recommend_product_path(recommend_product.id), :confirm => "本当に削除しますか？", :method => :delete %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

</div><!-- /メイン -->
