<% unless @feature.image_resource_id.blank? %>
<!--タイトル画像 -->
<%= view_resource_id @feature.image_resource_id,{:width=>"530px",:height=>"213px",:class =>"m_btm",:alt=>"特集"}%>
<% end %>

<% unless @feature.body.blank? %>	
<!--説明文 -->
<div><%= image_tag("common/box_bg_top.gif", :width => "530", :height => "5", :alt => "") %></div>
<div id="main_comment" class="main_box"><%=@feature.body%></div>
<div class="m_btm"><%= image_tag("common/box_bg_btm.gif", :width => "530", :height => "5", :alt => "") %></div>
<% end %>

<!--商品一覧 -->
<% unless @products.blank? %>
<div id="pager_box" class="clearfix"><%= will_paginate @products %></div>

<ul id="feature_box" class="clearfix">
<% @products.each do | p | %>	
<li><%= link_to_product p.product, (view_resource_id p.image_resource_id, {:width=>"120px",:height =>"120px",:alt=>p.body}) %>
<dl><dt><%= link_to_product p.product %></dt><dd><%= p.product.price_label %>円</dd></dl></li>
<% end %>
</ul>

<div id="pager_btm" class="clearfix"><%= will_paginate @products %></div>
<% end %>
