<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>テンプレート</h2>
<br />
<div class="btn_t">
  <%= button_to "新規作成", new_admin_mail_magazine_template_path, :class=>"btn_s" %>
</div>
<br />
<%=h flash[:notice] %>
<%=h flash[:error] %>
<table class="data2" cellspacing="1">
  <tr>
    <th>作成日</th>
    <th>subject</th>
    <th>メール形式</th>
    <th>編集</th>
    <th>削除</th>
    <th>プレビュー</th>
  </tr>
  <% if @mail_magazine_templates %>
    <% @mail_magazine_templates.each do |mmt| -%>
      <tr>
        <td><%=h mmt.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%=h mmt.subject %></td>
        <td><%=h mmt.get_form_name %></td>
        <td><%= link_to "編集", edit_admin_mail_magazine_template_path(mmt.id) %></td>
        <td><%= link_to "削除", admin_mail_magazine_template_path(mmt.id), :confirm=>"本当に削除しますか？", :method=>"delete" %></td>
        <td><a href="javascript:fnSubWindow('/admin/mail_magazine_templates/preview/<%=h mmt.id %>', 'mail_magazine_template', '600', '600');">プレビュー</a></td>
      </tr>
    <% end -%>
  <% end -%>
</table>

</div><!-- /メイン -->
