<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" /> 
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="viewport" content="width=device-width" />
    <%= compound_title_tag(['K&B style', @product_name, @category_name, @campaign_name]) %>
    <%= stylesheet_link_tag "smartphone/smartphone" %>
    <%= javascript_include_tag 'smartphone/jscript.js' %>
    <%= yield :head -%>
  </head>
  <body>
	<div id="header">
		<div id="title"><%= link_to h('K&B style'), :controller => :portal, :action => :show %></div>
		<div>
		<%- if @login_customer.nil? -%>
			<a href="/accounts/login"  class="button rosy" id="login" >ログイン</a>
		<%- else -%>
			<a href="/accounts/myindex"  class="button rosy" id="login" >マイページ</a>
		<%- end -%>
		</div> 
	</div>
	<div id="searchAndCart">
		<% form_tag({:controller=>:products, :action=>:search, :only_path=>false}, {:method=>"get", :id=>'searchform'}) do %>
			<%= text_field_tag "search", params[:search], :id=>'searchbox', :class=>"rounded" %>
			<%= submit_tag "検索", :id=> "search", :class=>"button rosy" %>
		<% end %>
		<div><a href="/cart" class="button rosy" id="mycart">カート</a></div>
		<br clear="all" /> 
	</div>
	<%= yield %>
	
	<select id="categories" class="button rosy" 
		onchange="LinkTo(this.selectedIndex, this.options[selectedIndex].value)">
		<option value="/">アイテムから探す</option><!-- sagasu -->
		<%= category_list_view("SMARTPHONE") -%>
	</select>
	
	
	
	<select id="info" class="button rosy"
		onchange="LinkTo(this.selectedIndex, this.options[selectedIndex].value)">
		<option value="/">インフォメーション</option>
		<option value ="/shop/about">当サイトについて</option>
		<option value="/inquiries/show">お問合わせ</option>
		<option value="/portal/show_tradelaw">特定商取引に関する法律</option>
		<option value="/portal/privacy">個人情報保護方針・個人情報の取扱いについて</option>
		<option value="/portal/escape_clause">免責事項について</option>
	</select>
	
	<%- if @login_customer -%>
		<div id="logout">
			<%= link_to 'ログアウト', {:controller => :accounts, :action => :logout}, :class => "rosy small_button" %>
		</div>
	<%- end -%>
	<address>Copyright (c) 2000-2009 K&amp;Bstyle CO.LTD. All Rights Reserved.</address>
  </body>
</html>