<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<% unless @seo.nil? %>
<meta name="author" content="<%= @seo.author %>" />
<meta name="description" content="<%= @seo.description %>" />
<meta name="keywords" content="<%= @seo.keywords %>" />
<% end %>

<%= compound_title_tag(['K&B style', @product_name, @category_name, @campaign_name]) %>
<%= javascript_include_tag 'sorry' %>
<%= javascript_include_tag 'treemenu' %>
<%= javascript_include_tag 'rollover' %>
<%= stylesheet_link_tag "front/common" %>
<%= yield :head -%>
</head>

<body>
<div id="wrapper" class="clearfix">
  <div id="header" class="clearfix"><!-- ヘッダー -->
    <h1><%= link_to image_tag("common/logo.gif", :width => "133", :height => "37", :alt => "K&amp;Bstyle"), :controller => :portal, :action => :show %></h1>
  <div id="store_desc"><span>オシャレな女性のためのお手軽通販サイト</span></div>
  <div id="my_menubox" class="clearfix">
  <p>
  <span><%="#{h @login_customer.full_name}&nbsp;様"if @login_customer %></span>
  <span id="log"><%= link_to 'ログアウト', :controller => :accounts, :action => :logout if @login_customer %></span>
  </p>
  <ul id="my_menu" class="clearfix">
    <li><%= link_to image_tag("/images/common/mypage_btn.gif", :width=>"101", :height=>"28", :alt=>"マイページ", :class=>"hoverImg"), :controller => :accounts, :action => :history_list if @login_customer %></li>
  </ul>
  </div><!-- /my_menubox -->
  </div><!-- /header -->

  <div id="container" class="clearfix">
    <%= yield %>
  </div><!-- /container -->
</div><!-- /wrapper -->

<div id="footer" class="clearfix"><!-- フッター -->
  <div id="foot_l">
    <ul id="foot_list" class="clearfix">
      <li><%= link_to '当サイトについて', {:controller => 'shop', :action => 'about'} %></li>
      <li><%= link_to 'お問合わせ', {:controller => 'inquiries', :action => 'new'} %></li>
      <li><%= link_to '特定商取引に関する法律', {:controller => 'portal', :action => 'show_tradelaw'} %></li>
      <li><%= link_to '個人情報保護方針・個人情報の取扱いについて', {:controller => 'portal', :action => 'privacy'} %></li>
      <li><%= link_to '免責事項について', {:controller => 'portal', :action => 'escape_clause'} %></li>
    </ul>
    <address>Copyright (c) 2000-2009 K&amp;Bstyle CO.LTD. All Rights Reserved.</address>
  </div>
  <div id="foot_r">
    <a href="#header"><img width="79" height="24" alt="page top" src="/images/common/pagetop_btn.gif"/></a>
  </div>
</div><!-- /footer -->
</body>
</html>
