<table class="tb2">
  
    <tr><td>お名前</td></tr>
    <tr>
    <td>
      <%=h customer.family_name %>
      <%=h customer.first_name %>
    </td>
  </tr>
  
    <tr><td>お名前フリガナ</td></tr>
    <tr>
    <td>
      <%=h customer.family_name_kana %>
      <%=h customer.first_name_kana %>
    </td>
  </tr>
  
    <tr><td>郵便番号</td></tr>
    <tr>
    <td>〒<%=h customer.zipcode01 -%>-<%=h customer.zipcode02 %></td>
  </tr>
  
    <tr><td>住所</td></tr>
    <tr>
    <td>
      <%=h customer.prefecture && customer.prefecture.name %>
      <%=h customer.address_city %>
      <%=h customer.address_detail %>
    </td>
  </tr>
  
    <tr><td>電話番号</td></tr>
    <tr>
    <td><%=h customer.tel01 %>-<%=h customer.tel02 %>-<%=h customer.tel03 %></td>
  </tr>
  
    <tr><td>FAX番号</td></tr>
    <tr>
    <td><%=h customer.fax01 %>-<%=h customer.fax02 %>-<%=h customer.fax03 %></td>
  </tr>
  
    <tr><td>メールアドレス</td></tr>
    <tr>
    <td><%=h customer.email %></td>
  </tr>
  
    <tr><td>性別</td></tr>
    <tr>
    <td><%= customer.instance_of?(OrderDelivery) ? customer.sex_name : customer.sex_view %></td>
  </tr>
  
    <tr><td>職業</td></tr>
    <tr>
    <td><%=h customer.occupation && customer.occupation.name %></td>
  </tr>
  
    <tr><td>生年月日</td></tr>
    <tr>
    <td><%= customer.birthday %></td>
  </tr>
  
  <%- unless customer.instance_of? OrderDelivery -%>
    <tr><td>ご希望のパスワード</td></tr>
    <tr>
    <td><%= customer.raw_password && ('*' * customer.raw_password.size) %></td>
  </tr>
  
 
    <tr><td>メールマガジン送付について</td></tr>
    <tr>
    <td><%= h customer.receive_mailmagazine_view %></td>
  </tr>
  <%- end -%>
</table>
