<%= stylesheet_link_tag "front/entry" %>

<table class="tb2">
  <tr>
    <th width="130">お名前</th>
    <td>
      <%=h @customer.family_name %>
      <%=h @customer.first_name %>
    </td>
  </tr>
  <tr>
    <th>お名前フリガナ</th>
    <td>
      <%=h @customer.family_name_kana %>
      <%=h @customer.first_name_kana %>
    </td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td>〒<%=h @customer.zipcode01 -%>-<%=h @customer.zipcode02 %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td>
      <%=h @customer.prefecture && @customer.prefecture.name %>
      <%=h @customer.address_city %>
      <%=h @customer.address_detail %>
    </td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%=h @customer.tel01 %>-<%=h @customer.tel02 %>-<%=h @customer.tel03 %></td>
  </tr>
  <tr>
    <th>FAX番号</th>
    <td><%=h @customer.fax01 %>-<%=h @customer.fax02 %>-<%=h @customer.fax03 %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%=h @customer.email %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @customer.sex_view %></td>
  </tr>
  <tr>
    <th>職業</th>
    <td><%=h @customer.occupation && @customer.occupation.name %></td>
  </tr>
  <tr>
    <th>生年月日</th>
    <td><%= @customer.birthday %></td>
  </tr>
  <tr>
    <th>ご希望のパスワード</th>
    <td><%= @customer.raw_password && ('*' * @customer.raw_password.size) %></td>
  </tr>
  <tr>
    <th>メールマガジン送付について</th>
    <td><%=h @customer.receive_mailmagazine_view %></td>
  </tr>
</table>
