<% fields_for :delivery_address do | f | %>

<span style="color:#ff0000;">※</span>お名前<br />
 &nbsp;姓<%= f.text_field :family_name, :size => 10,:style=>"height:14px;" %><br />
 &nbsp;名<%= f.text_field :first_name, :size => 10,:style=>"height:14px;" %><br /><br />
<span style="color:#ff0000;">※</span>お名前（フリガナ）<br />
 &nbsp;セイ<%= f.text_field :family_name_kana, {:size => 10,:style=>"height:14px;"}.merge(mobile_input_mode(:hankakukana)) %><br />
 &nbsp;メイ<%= f.text_field :first_name_kana, {:size => 10,:style=>"height:14px;"}.merge(mobile_input_mode(:hankakukana)) %><br /><br />

<span style="color:#ff0000;">※</span>郵便番号<br />
<%= f.text_field :zipcode01, {:size => 7,:style=>"height:14px"}.merge(mobile_input_mode(:numeric)) -%>-<%= f.text_field :zipcode02, {:size => 7,:style=>"height:14px"}.merge(mobile_input_mode(:numeric)) %><br /><br />

 <div style="text-align:center;">
  <%= submit_tag '戻る', :name => 'back' %>
  <%= submit_tag '次へ' %><br />
 </div>
<% end %>
