<% fields_for :delivery_address do | f | %>
 <span style="color:#ff0000;">※</span>都道府県<br />
 <%= f.collection_select :prefecture_id, Prefecture.find(:all, :order=>:position), :id, :name %><br /><br />
<span style="color:#ff0000;">※</span>市区町村<br />
 <%= f.text_field :address_city, :size => 30, :style => "height:14px;" %><br /><br />
<span style="color:#ff0000;">※</span>番地以降<br />
 <%= f.text_field :address_detail, :size => 30, :style => "height:14px;" %><br /><br />
 <span style="color:#ff0000;">※</span>電話番号<br />
 <%= f.text_field :tel01, {:size => 6, :style => "height:14px;"}.merge(mobile_input_mode(:numeric)) %>-<%= f.text_field :tel02, {:size => 6, :style => "height:14px;"}.merge(mobile_input_mode(:numeric)) %>-<%= f.text_field :tel03, {:size => 6, :style => "height:14px;"}.merge(mobile_input_mode(:numeric)) %><br /><br />

 <div style="text-align:center;">
<%-
 @names = [
   :family_name,
   :first_name,
   :family_name_kana,
   :first_name_kana,
   :zipcode01,
   :zipcode02,
 ].reject{|name|@delivery_address[name].blank?}
-%>
<%= @names.map{|name|hidden_field :delivery_address, name} %>
<%= hidden_field 'done', 1 %>
  <%= submit_tag '戻る', :name=>'back' %>
  <%= submit_tag '確認ページへ' %><br />
 </div>
<% end %>
