<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag js_url(:action => "application") %>
<% end %>

<table class="tb2">
  <tr>
    <th  width="130">お名前<font color="red">※</font></th>
    <td>姓<%= f.text_field :family_name, {:class=>"form_m m_left",:style=>"ime-mode:active"} %> 名<%= f.text_field :first_name, {:class=>"form_m m_left",:style=>"ime-mode:active"} %></td>
  </tr>
  <tr>
    <th>お名前(フリガナ)<font color="red">※</font></th>
    <td>セイ<%= f.text_field :family_name_kana, {:class=>"form_m m_left",:style=>"ime-mode:active"} %> メイ<%= f.text_field :first_name_kana, {:class=>"form_m m_left",:style=>"ime-mode:active"} %></td>
  </tr>
  <tr>
    <th>郵便番号<font color="red">※</font></th>
    <td>
      〒<%= f.text_field :zipcode01, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %>-<%= f.text_field :zipcode02, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %>
      <%= link_to "郵便番号を調べる", "http://search.post.japanpost.jp/zipcode/", :target => "_blank" %><br />
      <input name="zipcode_input" value="住所自動入力" onclick="address_by_zip('delivery_address_zipcode01','delivery_address_zipcode02', null, 'delivery_address_address_city', 'delivery_address_address_detail', 'delivery_address_prefecture_id', 'accounts', '<%=h ActionController::Base.relative_url_root %>');" type="button">
      郵便番号を入力後、クリックしてください。
    </td>
  </tr>
  <tr>
    <th>住所：都道府県<font color="red">※</font></th>
    <td><%= f.collection_select :prefecture_id, Prefecture.find(:all, :order=>:position), :id, :name %></td>
  </tr>
  <tr>
    <th>住所：市区町村<font color="red">※</font></th>
    <td><%= f.text_field :address_city, {:class=>"form_l",:style=>"ime-mode:active"} %><p>（例：千代田区神田神保町）</p></td>
  </tr>
  <tr>
    <th>住所：番地・ビル名<font color="red">※</font></th>
    <td><%= f.text_field :address_detail, {:class=>"form_l",:style=>"ime-mode:active"} %><p>（例：1-3-5○○○ビル）</p></td>
  </tr>
  <tr>
    <th>電話番号<font color="red">※</font></th>
    <td><%= f.text_field :tel01, {:class=>"form_s",:style=>"ime-mode:inactive"} %>-<%= f.text_field :tel02, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %>-<%= f.text_field :tel03, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %></td>
  </tr>
</table>
<div class="my_btn">
  <div class="my_btn"><%= image_submit_tag("/images/mypage/btn01.gif", :width=>"101", :height=>"28", :alt=>"確認", :class=>"hoverImg") %></div>
</div>
