<% content_for :head do %>
  <%= stylesheet_link_tag "front/entry" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag js_url(:action => "application") %>
<% end %>

<table class="tb2">
  <tr>
    <th width="130">お名前<span class="must">※</span></th>
    <td>
      姓<%= f.text_field :family_name, {:class=>"form_m m_left",:style=>"ime-mode:active"} %>
      名<%= f.text_field :first_name, {:class=>"form_m m_left",:style=>"ime-mode:active"} %>
    </td>
  </tr>
  <tr>
    <th>お名前：フリガナ<span class="must">※</span></th>
    <td>
      セイ<%= f.text_field :family_name_kana, {:class=>"form_m m_left",:style=>"ime-mode:active"} %>
      メイ<%= f.text_field :first_name_kana, {:class=>"form_m m_left",:style=>"ime-mode:active"} %>
    </td>
  </tr>
  <tr>
    <th>郵便番号<span class="must">※</span></th>
    <td>
      〒<%= f.text_field :zipcode01, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} -%>-<%= f.text_field :zipcode02, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %>
      <%= link_to "郵便番号を調べる", "http://search.post.japanpost.jp/zipcode/", :target => "_blank" %><br />
      <input name="zipcode_input" value="住所自動入力" onclick="address_by_zip('customer_zipcode01','customer_zipcode02', null, 'customer_address_city', 'customer_address_detail', 'customer_prefecture_id', 'accounts', '<%=h ActionController::Base.relative_url_root %>');" type="button" />
      ※郵便番号を入力後、クリックしてください。
    </td>
  </tr>
  <tr>
    <th>住所：都道府県<span class="must">※</span></th>
    <td><%= f.collection_select :prefecture_id, Prefecture.find(:all, :order=>:position), :id, :name, :class=>"form_s" %></td>
  </tr>
  <tr>
    <th>住所：市区町村<span class="must">※</span></th>
    <td><%= f.text_field :address_city, {:class=>"form_l",:style=>"ime-mode:active"} %><p>(例：千代田区神田神保町)</p></td>
  </tr>
  <tr>
    <th>住所：番地・ビル名<span class="must">※</span></th>
    <td><%= f.text_field :address_detail, {:class=>"form_l",:style=>"ime-mode:active"} %><p>(例：1-2-3○○○ビル)</p></td>
  </tr>
  <tr>
    <th>電話番号<span class="must">※</span></th>
    <td><%= f.text_field :tel01, {:class=>"form_s",:style=>"ime-mode:inactive"} %>-<%= f.text_field :tel02, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %>-<%= f.text_field :tel03, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %></td>
  </tr>
  <tr>
    <th>FAX番号</th>
    <td><%= f.text_field :fax01, {:class=>"form_s",:style=>"ime-mode:inactive"} %>-<%= f.text_field :fax02, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %>-<%= f.text_field :fax03, {:class=>"form_s m_left",:style=>"ime-mode:inactive"} %></td>
  </tr>
  <tr>
    <th>メールアドレス<span class="must">※</span></th>
    <td><%= f.text_field :email, {:class=>"form_m",:style=>"ime-mode:inactive"} %></td>
  </tr>
  <tr>
    <th>メールアドレス(確認)<span class="must">※</span></th>
    <td><%= f.text_field :email_confirm, {:class=>"form_m",:style=>"ime-mode:inactive"} %></td>
  </tr>
  <tr>
    <th>性別<span class="must">※</span></th>
    <td>
      <% [System::MALE, System::FEMALE].each do | value | %>
        <%= f.radio_button :sex, value, {:class=>"radio_btn"} %>
        <%= content_tag :label, System::SEX_NAMES[value], :for => "customer_sex_%d" % value %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>職業</th>
    <td><%= f.collection_select :occupation_id, Occupation.find(:all, :order=>:position), :id, :name, :class=>"form_m" %></td>
  </tr>
  <tr>
    <th>生年月日</th>
    <td><%= f.birthday_select :birthday, :use_month_numbers => true,:start_year =>Time.now.year-70,:end_year=>Time.now.year-10,:default=>{:year=>1980,:month=>1,:day=>1} %></td>
  </tr>
  <tr>
    <th>
      ご希望のパスワード<span class="must">※</span>
      <% unless @customer.nil? || @customer.new_record? %>
        <br />パスワード変更時のみ入力してください
      <% end %>
    </th>
    <td><%= f.password_field :raw_password, :class=>"form_m" %><span class="m_left">半角英数字4～10文字</span></td>
  </tr>
  <tr>
    <th>
      ご希望のパスワード(確認)<span class="must">※</span>
      <% unless @customer.nil? || @customer.new_record? %>
        <br />パスワード変更時のみ入力してください
      <% end %>
    </th>
    <td><%= f.password_field :password_confirm, :class=>"form_m" %><span class="m_left">半角英数字4～10文字</span></td>
  </tr>
  <tr>
    <th>メールマガジン送付について<span class="must">※</span></th>
    <td>
      <% [Customer::HTML_MAIL, Customer::TEXT_MAIL, Customer::NO_MAIL].each do | value | %>
        <% label = Customer::MAILMAGAZINE_NAMES[value] %>
        <%= f.radio_button :receive_mailmagazine, value, {:class=>"radio_btn"} %>
        <%= content_tag :label, label, :for => "customer_receive_mailmagazine_%d" % value %>
      <% end %>
    </td>
  </tr>
</table>

<div class="my_btn"><%= image_submit_tag("/images/mypage/btn03.gif", :alt=>"確認", :class=>"hoverImg") %></div>
