<% content_for :head do %>
  <%= stylesheet_link_tag "front/mypage" %>
<% end %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => :portal, :action => :show %></li><li><%= link_to "マイページ", :controller => :accounts, :action => :history_list %></li><li>お届け先確認</li></ol>
<h2 class="main_t">マイページ</h2>
<div id="mypage" class="clearfix">
  <!-- マイメニュー -->
  <%= render :partial=> "user/navigation" %>
  <!-- お届け先設定 -->
  <div id="mypage_main">
    <h3><%= image_tag("mypage/mypage_t3.gif", :width => "535", :height => "44", :alt => "お届け先設定") %></h3>
    <div class="mypage_box">
      <p class="tb_t">お届け先変更の確認　修正がある場合は、戻るボタンから戻って修正してください。</p>
      <%= error_messages_for :delivery_address %>
      <table class="tb2">
        <tr>
          <th width="130">お名前</th>
          <td><%=h @delivery_address.family_name %> <%=h @delivery_address.first_name %></td>
        </tr>
        <tr>
          <th>お名前(フリガナ)</th>
          <td><%=h @delivery_address.family_name_kana %> <%=h @delivery_address.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>〒<%=h @delivery_address.zipcode01 %>-<%=h @delivery_address.zipcode02 %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%=h @delivery_address.prefecture.name %> <%=h @delivery_address.address_city %> <%=h @delivery_address.address_detail %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%=h @delivery_address.tel01 %>-<%=h @delivery_address.tel02 %>-<%=h @delivery_address.tel03 %></td>
        </tr>
      </table>

      <% form_for :delivery_address, :url => {:action => 'delivery_complete', :id=>@id} do | f |%>
        <div id="submit">
          <% [:family_name, :first_name, :family_name_kana, :first_name_kana,
             :zipcode01, :zipcode02, :prefecture_id, :address_city,
             :address_detail, :tel01, :tel02, :tel03].each do | column | %>
            <%= f.hidden_field column %>
          <% end %>
          <%= hidden_field_tag 'popup', @popup %>
          <div class="my_btn2">
            <%= link_to_function image_tag("/images/mypage/btn02.gif", :width=>"101", :height=>"28", :alt=>"戻る", :class=>"hoverImg"), 'history.back()' %>
            <%= image_submit_tag("/images/mypage/btn03.gif", :width=>"101", :height=>"28", :alt => '送信', :class=>"hoverImg", :style => 'border:0px;') %>
          </div>
        </div>
      <% end %>
    </div>
    <div><%= image_tag("mypage/mypage_btm.gif", :width => "535", :height => "5", :alt => "") %></div>
  </div><!-- /mypage_main -->
</div><!-- /mypage -->

