<%= stylesheet_link_tag "front/mypage" %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => :portal, :action => :show %></li><li><%= link_to "マイページ", :controller => :accounts, :action => :history_list %></li><li>お届け先編集</li></ol>
<h2 class="main_t">マイページ</h2>
<div id="mypage" class="clearfix">
  <!-- マイメニュー -->
  <%= render :partial=> "user/navigation" %>

  <!-- お届け先設定 -->
  <div id="mypage_main">
    <h3><%= image_tag("mypage/mypage_t3.gif", :width => "535", :height => "44", :alt => "お届け先設定") %></h3>
    <div class="mypage_box">
      <p>下記項目にご入力ください。「<font color="red">※</font>」印は入力必須項目です。</p>
      <p>入力後、一番下の「確認ページへ」ボタンをクリックしてください。</p>
      <%= error_messages_for :delivery_address %>
      <% form_for :delivery_address, :url => {:action => 'delivery_update', :id=> @id} do |f| %>
        <%= render :partial => 'delivery_form', :locals => {:f => f} %>
        <%= hidden_field_tag 'popup', @popup %>
      <% end %>
    </div><!-- /mypage_box -->
    <div><%= image_tag("mypage/mypage_btm.gif", :width => "535", :height => "5", :alt => "") %></div>
  </div><!-- /mypage_main -->
</div><!-- /mypage -->

