<%= render :partial => "base/title", :locals => {:title => "お届け先の追加・変更"} %>

   <div><%= flash[:notice] %></div>
   <div><%= flash[:error] %></div>
   <%= error_messages_for :delivery_address if @delivery_address %>
     <% if @delivery_addresses.count < DeliveryAddress::MAXIMUM_POSITION %>
       <p><%= link_to '新しいお届け先を追加する', :action => :delivery_new %></p>
     <% else %>
       <p>お届け先の登録数は<%= DeliveryAddress::MAXIMUM_POSITION%>件までです。</p></br>
     <% end %>
   <% if @delivery_addresses.count == 0 %>
   <div>新しいお届け先はありません</div>
   <% else %>
▼お届け先<br />
    <% @delivery_addresses.each_with_index do | address, i | %>
<%= i+1 %><br />
お届け先住所<br />
      〒<%= address.zipcode01 %>-<%= address.zipcode02 %><br />
      <%=h address.prefecture.name %><%=h address.address_city %><br /><%=h address.address_detail %><br />
      <%=h address.family_name %> <%=h address.first_name %><br />
<br />
<div style="text-align:center;">
      <%= link_to '変更', :action => :delivery_edit, :id => address.id %>
      <%= link_to '削除', {:action => :delivery_destroy, :id => address.id}, :confirm => '本当に削除しますか？' %>
</div>

    <% end %>
   <% end %>
