<%= render :partial => "base/title", :locals => {:title => "会員登録内容変更"} %>

<%= @customer && error_messages_for(:customer) %>

<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<span style="color:#ff0000;">※</span>は必須項目です。<br /><br />

<% form_tag :action => 'edit' do %>
  <%= render :partial => "form_mobile_%d" % @stage %>
  <%= hidden_field_tag 'stage', @stage %>
<% end %>
