<%= stylesheet_link_tag "front/mypage" %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => :portal, :action => :show %></li><li><%= link_to "マイページ", :controller => :accounts, :action => :history_list %></li><li>お気に入り</li></ol>
<h2 class="main_t">マイページ</h2>
<div id="mypage" class="clearfix">
  <!-- マイメニュー -->
  <%= render :partial=> "user/navigation" %>

  <!-- お気に入り -->
  <div id="mypage_main">
    <h3><%= image_tag("mypage/mypage_t5.gif", :width => "535", :height => "44", :alt => "お気に入り") %></h3>
    <div id="favorite" class="mypage_box clearfix">
      <dd><%= flash[:error] %></font></dd>
      <dd><%= flash[:notice] %></font></dd></br>
      <% if @favorites.present? %>
        <% product_ids = [] %>
        <% @favorites.each do |favorite| %>
          <% product_ids << favorite.product_order_unit_id %>
        <% end %>
	<%= link_to image_tag("/images/item/favorite_delete_all.gif", :width=>"140", :alt=>"お気に入りから削除", :class => "submit"), {:controller => :favorites, :action => :delete_favorite, :product_order_unit_ids => product_ids }, :confirm => "お気に入りを全て削除します。よろしいですか？"  %>
	<ul>
	  <% @favorites.each do |favorite| %>
	    <% product = favorite.ps_path.product %>
	    <% pou = favorite.product_order_unit %>
	    <li style="display:inline">
	      <p><%= link_to((product_image_tag(product, :small)), {:controller => "products", :action => "show", :id => product.id, :category_id => product.category_id}) %></p>
	      <p><%= link_to_product product %></p>
	      <p><%= link_to image_tag("/images/item/favorite_delete.gif", :width=>"120", :alt=>"お気に入りから削除", :class => "submit"), {:controller => :favorites, :action => :delete_favorite, :product_order_unit_ids => [pou.id] }, :confirm => "お気に入りを削除します。よろしいですか？"  %></p>
	    </li>
	  <% end %>
	</ul>
      <% else %>
        <dd>お気に入りはまだありません</dd>
      <% end %>
    </div><!-- お気に入り -->

  <div><%= image_tag("mypage/mypage_btm.gif", :width => "535", :height => "5",:alt => "") %></div>
  </div><!-- /mypage_main -->
</div><!-- /mypage -->
