<% content_for :head do %>
  <%= stylesheet_link_tag "front/mypage" %>
<% end %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => :portal, :action => :show %></li><li><%= link_to "マイページ", :controller => :accounts, :action => :history_list %></li><li>購入履歴一覧</li></ol>
<h2 class="main_t">マイページ</h2>
<div id="mypage" class="clearfix">
  <!-- マイメニュー -->
  <%= render :partial=> "user/navigation" %>

  <!-- 購入履歴一覧 -->
  <div id="mypage_main">
    <h3><%= image_tag("mypage/mypage_t1.gif", :width => "535", :height => "44", :alt => "購入履歴一覧") %></h3>
    <div class="mypage_box">
    <% if @orders && !@orders.empty? %>
      <div class="clearfix"><p class="history"><%= @orders.size %> 件の購入履歴があります。</p><p class="point_right">現在のポイント<%= @login_customer.point.to_i %>pt</p></div>
      <p class="m_btm">※最大20件まで表示します。</p>
      <table class="tb1 cntr">
        <tr>
          <th width="91">購入日時</th>
          <th width="115">受注番号</th>
          <th width="115">お支払い方法</th>
          <th width="84">合計金額</th>
          <th width="84">詳&nbsp;&nbsp;細</th>
        </tr>
        <% @orders.each do | order | %>
          <%- order_delivery = order.order_deliveries[0] -%>
          <tr>
            <td><%= date_time(order.received_at) %></td>
            <td><%= order.code %></td>
            <td>
	      <% if order_delivery.payment %>
		<%= order_delivery.payment.name %>
	      <% end %>
	    </td>
            <td><%= number_with_delimiter(order.total) %>円</td>
            <td><%= link_to '詳細を見る', :action => 'history_show', :id => order.id %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h3>購入履歴はありません。<span id="point_right">現在のポイント<%= @login_customer.point.to_i %>pt</span></h3>
    <% end %>
  </div><!-- /購入履歴一覧 -->

  <div><%= image_tag("mypage/mypage_btm.gif", :width => "535", :height => "5", :alt => "") %></div>
  </div><!-- /mypage_main -->
</div><!-- /mypage -->
