<div class="sectionHeader">購入履歴詳細</div>
	<div class="historyDetail">
	      <%= date_time(@order.received_at) %><br />
	      注文番号: <%=h @order.code %>
      </div>
      
      <div class="sectionSubheader">配送先</div>
      <div class="historyDetail">
	      <%=h @order_delivery.deliv_family_name %> <%=h @order_delivery.deliv_first_name %><br />
	      〒<%=h @order_delivery.deliv_zipcode01 %>-<%=h @order_delivery.deliv_zipcode02 %><br />
	      <%=h @order_delivery.prefecture.name %><%=h @order_delivery.address_city %><%=h @order_delivery.address_detail %><br />
	      <%=h @order_delivery.deliv_tel01 %>-<%=h @order_delivery.deliv_tel02 %>-<%=h @order_delivery.deliv_tel03 %>
      </div>
      
      <div class="sectionSubheader">お届け時間指定</div>
      <div class="historyDetail">
      <%=h @order_delivery.delivery_time_name %>
	</div>

      <div class="sectionSubheader">お支払い方法</div>
      <div class="historyDetail">
	      <%=h @order_delivery.payment && @order_delivery.payment.name %>
      </div>
      
      <div class="sectionSubheader">ご注文内容</div>
      <div class="historyDetail">
	      <% @order_delivery.order_details.each do | detail | %>
	     <%= link_to_product detail.ps.product, detail.product_style_name %><br />
	     単価: <%= number_with_delimiter(detail.price) %>円<br />
	     個数: <%= number_with_delimiter(detail.quantity) %><br />
	     小計: <%= number_with_delimiter(detail.subtotal) %>円<br />
		 <br />
	      <% end %>
      </div>
      
      <div class="sectionSubheader">購入金額</div>
      <div class="historyDetail">
	      小計:<%= number_with_delimiter(@order_delivery.subtotal) %>円<br />
	      送料:<%= number_with_delimiter((@order_delivery.deliv_fee.blank? ? 0 :@order_delivery.deliv_fee)) %>円<br />
	      手数料:<%= number_with_delimiter(@order_delivery.charge.blank? ? 0 :@order_delivery.charge) %>円<br />
	      合計:<%= number_with_delimiter(@order_delivery.total) %>円<br />
	      使用ポイント:-<%= number_with_delimiter(@order_delivery.use_point) %>Pt<br />
	      加算されるポイント:+<%= number_with_delimiter(@order_delivery.add_point) %>Pt<br />
	      支払金額:<%= number_with_delimiter(@order_delivery.payment_total) %>円<br />
      </div>
      
      <div class="sectionSubheader">注文状況</div>
      <div class="historyDetail">
	  ステータス:<%= h @order_delivery.front_status_view %><br />
	 発送日:<%= @order_delivery.shipped_at ? date(@order_delivery.shipped_at) : '未発送' %><br />
	 発送伝票番号：<% if @order_delivery.delivery_tickets.empty? %>
				未発送
			<% else %>
			     <% @order_delivery.delivery_tickets.each do |ticket| %>
			      <%=h ticket.code %><br/>
			     <% end %>
			    <% end %>
	</div>
