<% content_for :head do %>
<%= stylesheet_link_tag "front/entry" %>
<% end %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><a href="/">トップページ</a></li><li>利用規約</li></ol>
<h2 class="main_t">利用規約</h2>
<div id="entry">
  <!-- 会員規約 -->
  <p class="agreement_t">ご利用規約および個人情報の取り扱いに関する同意書</p>

  <div class="agreement_box">
  <% @kiyakus.each do |kiyaku| -%>
    <p><%=h kiyaku.name %></p>
    <p><%=h_br kiyaku.content %></p>
  <% end %>
  </div>

  <p class="my_btn2">
    <%= link_to image_tag("/images/entry/entry_btn1.gif", :width=>"101", :height=>"28", :alt=>"同意しない"), :controller=>'portal', :action=>'show' %>
    <%= link_to image_tag("/images/entry/entry_btn2.gif", :width=>"101", :height=>"28", :alt=>"同意する"), :controller=>'accounts', :action=>'signup' %>
  </p>
</div><!-- /entry -->
