<%= render :partial => "base/title", :locals => {:title => "ご利用規約及び個人情報の取り扱いに関する同意書"} %>

<%- @kiyakus.each do |kiyaku| -%>
<p>
<%= kiyaku.name %><br /><br />
<%= kiyaku.content %>
</p>
<%- end -%>
<p>
 <%- if @next -%>
  <%= link_to '次へ→', :position => @next %><br />
 <%- end -%>
 <%- if @prev -%>
  <%= link_to '←前へ', :position => @prev %>
 <%- end -%>
</p>
<hr />
<p>
 <%= link_to '規約・同意書に同意して会員登録をする', :controller=>'accounts', :action=>'signup' %><br />
 <%= link_to '同意しない', :controller=>'portal', :action=>'show' %><br />
</p>