<div style="text-align:center;"><h4>パスワードを忘れた方</h4></div>

<hr />

  ご登録時のパスワードヒントの回答を入力して「次へ」ボタンをクリックしてください。<br />
  <span style="color:#ff0000;">※</span>下記質問の答えをお忘れになられた場合は<%=h @shop.mail_faq %>までご連絡ください。<br />
  <% form_tag :action => "reminder_complete" do %>
  <%=h @customer.reminder.name %>： <br />
  <%= text_field "customer_reminder", "reminder_value"  %>
  <%= hidden_field "customer", "email" %><br /><br />
  <span style="color:#ff0000;"><%= flash[:notice] %></span><br /><br />
<div style="text-align:center;"><%= submit_tag("次へ") %></div>
  <% end %>

<hr />

<%= link_to 'カゴを見る', :controller => 'cart', :action => 'show' %><br />
<%= link_to 'TOPページへ', :controller=>'/' %>
