<div style="text-align:center;"><h4>パスワードを忘れた方</h4></div>

<hr />

<span style="color:#ff0000;">※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。</span><br /><br />
  ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。<br />
  <% form_tag :action => "reminder_hint" do %>
ﾒｰﾙｱﾄﾞﾚｽ：<br />
  <%= text_field "customer", "email"  %><br /><br />
  <span style="color:#ff0000;"><%= flash[:notice] %></span><br />
<div style="text-align:center;"><%= submit_tag "次へ" %></div>
  <% end %>

<hr />

<%= link_to 'カゴを見る', :controller => 'cart', :action => 'show' %><br />
<%= link_to 'TOPページへ', :controller=>'/' %>
