<%= stylesheet_link_tag "front/account/reminder" %>

<h2>パスワードを忘れた方</h2>
<div id="reminder">
  ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。<br />
  <em id="requared">※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。</em><br />
  <div id="quest">
  <% form_tag :action => "reminder_complete" do %>
  <br />
  質問：<%#=h @customer.reminder.name %> <br />
  答え：<%= text_field "customer_reminder", "reminder_value"  %>
  <%= hidden_field "customer", "email" %><br /><br />
  <em id="requared"><%= flash[:notice] %></em>
  </div>
  「暗号化（SSL）」を使用しています。お客様情報やパスワードは安全に送受信されます。<br /><br />
  <div id="submit">
  <%= submit_tag '次へ' %>
  <% end %>
  </div>
</div>
