<%= render :partial => "base/title", :locals => {:title => "パスワードを忘れた方"} %>

<p>ウェブショップ用パスワードを忘れた方は、当ページより再度パスワードを設定いただけます。<br />
 ご登録頂いている内容を入力して下さい。</p>

<p><%= flash[:notice] %></p>
<%= error_messages_for(:input) if @input %>
<% form_for :input, :url => {:action => 'salvage_complete'} do |f| %>

ご本人確認<br /><br />

メールアドレス<br />
<%= f.text_field :email, {:size=>"30",:style => "height:14px;"}.merge(mobile_input_mode(:alphabet)) %><br /><br />

お名前<br />
 &nbsp;姓<%= f.text_field :family_name, :size => 10,:style=>"height:14px;" %><br />
 &nbsp;名<%= f.text_field :first_name, :size => 10,:style=>"height:14px;" %><br /><br />

生年月日<br />
<%= f.birthday_select :birthday, :use_month_numbers => true ,:start_year =>Time.now.year-70,:end_year=>Time.now.year-10,:default=>{:year=>1980,:month=>1,:day=>1} %><br /><br />

電話番号<br />
<%= f.text_field :tel01, {:size => 6, :style => "height:14px;"}.merge(mobile_input_mode(:numeric)) %> - <%= f.text_field :tel02, {:size => 6, :style => "height:14px;"}.merge(mobile_input_mode(:numeric)) %> - <%= f.text_field :tel03, {:size => 6, :style => "height:14px;"}.merge(mobile_input_mode(:numeric)) %><br /><br />

 <div style="text-align:center;">
  <%= submit_tag '確認' %>
 </div>
<% end %>
