<div class="sectionHeader">会員登録</div>
<div id="confirmEntry">
<%= @customer && error_messages_for(:customer) %>
<%= render :partial => 'confirm', :locals  => { :customer => @customer } %>
<% form_for :customer, :url => {:action => 'signup_complete'} do |f| %>
  <div>
    <% [ :zipcode01, :zipcode02, :tel01, :tel02, :tel03,
        :fax01, :fax02, :fax03, :sex, :occupation_id,
        :family_name, :first_name, :family_name_kana, :first_name_kana,
        :email, :address_city, :address_detail,
        :birthday, :raw_password, :receive_mailmagazine, :prefecture_id,
        :password_confirm, :email_confirm
       ].each do | column | %>
      <%= f.hidden_field column -%>
    <% end %>

    <%= hidden_field_tag 'password', @customer.raw_password -%>
    <div class="my_btn4">
       <%= submit_tag '戻る', :name=>'back', :class=>'rosy button'%>
    <%= submit_tag '登録', :class=>'rosy button'%>
    </div>
  </div>
<% end %>
</div>
