<% content_for :head do %>
  <%= stylesheet_link_tag "front/entry" %>
<% end %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => :portal, :action => :show %></li><li><%= link_to "利用規約", :controller => :accounts, :action => :kiyaku %></li><li><%= link_to "会員登録", :controller => :accounts, :action => :signup %></li><li>入力内容確認</li></ol>
<h2 class="main_t">会員登録</h2>
<div id="entry">

<!-- 会員登録 -->
<p class="comp">会員登録が完了しました。</p>
<p class="comp_s">登録していただいたメールアドレス宛に、会員登録確認のメールを送信しました。<br />
メール記載のアドレスにアクセスし、登録を完了させてください。</p>
<div class="my_btn"><%= link_to image_tag("/images/mypage/btn04.gif", :width=>"101", :height=>"28", :alt=>"TOPへ戻る", :class=>"hoverImg"), :controller=>'/' %></div>

</div><!-- /entry -->
