<%= render :partial => "base/title", :locals => {:title => "会員情報登録"} %>

<% if @stage == 0 # 最初のページだけ %>
  <p><%#= link_to 'ﾄﾞﾒｲﾝ指定受信されているお客様へ', :action => 'regmailst' %><br />
   ﾄﾞﾒｲﾝ指定受信されているお客様へ<br />ご登録前にﾄﾞﾒｲﾝ指定受信の設定解除をお願いします。</p>
  <hr />
<% end %>

  <p><%=h flash[:error] %></p>
  <%= @customer && error_messages_for(:customer) %>
  <div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
  <span style="color:#ff0000;">※</span>は必須項目です。<br /><br />
  <% form_tag :action => 'signup' do %>
   <%= render :partial => "form_mobile_%d" % @stage %>
   <%= hidden_field_tag 'stage', @stage %>
  <% end %>
