<%= stylesheet_link_tag "front/mypage" %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><%= link_to "トップページ", :controller => :portal, :action => :show %></li><li><%= link_to "マイページ", :controller => :accounts, :action => :history_list %></li><li>退会手続き</li></ol>
<h2 class="main_t">マイページ</h2>
<div id="mypage" class="clearfix">
  <!-- 退会手続き -->
  <div id="mypage_main">
    <h3><%= image_tag("mypage/mypage_t4.gif", :width => "535", :height => "44", :alt => "退会手続き") %></h3>
    <div class="mypage_box">
      <p class="comp">退会手続きを実行します。よろしいですか？</p>
      <p class="comp_s">会員を退会された場合、現在保存されている購入履歴や、<br />お届け先などの情報は全て削除されますので、ご注意ください。</p>
      <div class="my_btn2">
        <% form_tag :action => 'withdraw_complete' do %>
          <%= link_to_function image_tag("/images/mypage/btn07.gif", :width=>"101", :height=>"28", :alt=>"退会しない"), 'javascript:location.href = "/accounts/withdraw"', :onclick => true %>
          <%= image_submit_tag("/images/mypage/btn06.gif", :width=>"101", :height=>"28", :alt=>"退会する", :class=>"hoverImg") %>
        <% end %>
      </div>
    </div>
    <div><%= image_tag("mypage/mypage_btm.gif", :width => "535", :height => "5", :alt => "") %></div>
  </div><!-- /mypage_main -->
</div><!-- /mypage -->
